  <!-- Page Wrapper -->
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Asignaturas - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaAsignaturas.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroAsignatura" name="filtroAsignatura" id="filtroAsignatura" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar asignatura">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio" *ngIf="rolAdm === 'Administrador'" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> Nueva asignatura</button>&nbsp;
                    <button *ngIf="listaAsignaturas.length !== 0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Imprimir</button>&nbsp;
                    <button *ngIf="listaAsignaturas.length !== 0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar</button><br><br>
                </div>
                <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaAsignaturas.length === 0">
                  <div class="alert alert-secondary" role="alert">
                    Aún no hay asignaturas registradas
                  </div>
                </div>
                <div class="table-responsive" *ngIf="listaAsignaturas.length !== 0">
                    <table class="table table-sm table-bordered bg-white table-hover">
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Asignatura</th>
                            <th scope="col">Calif. Máx.</th>
                            <th scope="col">Calif. min. Aprobatoria</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Grupo</th>
                            <th scope="col" colspan="2">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let materia of listaAsignaturas | sortBy:'id' | filtroAsignaturas:filtroAsignatura | paginate: { itemsPerPage: 10, currentPage: p, id: 'asignaturaP' }; let i = index">
                            <th class="text-center" scope="row">{{materia.id}}</th>
                            <td class="text-center">{{materia.clave }}</td>
                            <td>{{materia.asignatura }}</td>
                            <td class="text-center">{{materia.calificacion_max }}</td>
                            <td class="text-center">{{materia.calificacion_min_aprobatoria }}</td>
                            <td class="text-center">{{materia.tipo }}</td>
                            <td>{{materia.descripcion }}</td>
                            <td>{{materia.cat_grupo_asignatura.grupo }}</td>
                            <td class="text-center"><a href="" data-toggle="modal" data-target="#formulario" (click)="updateAsignatura(materia.id)"><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#modal' + materia.id">
                                <i class="fas fa-trash text-gray-300"></i>
                              </a>
                              <div id="modal{{materia.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>¿Deseas eliminar el registro?</h5>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-sapp" (click)="eliminarAsignatura(materia.id)" data-dismiss="modal" >Eliminar</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls id="asignaturaP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
                </div>

            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nueva asignatura</h3>
        <h3 *ngIf="edicion === true">Editar asignatura</h3>
      </div><br>
      <div class="container">
        <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
          Asignatura registrada correctamente
         </div>
         <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
         Cambios guardados correctamente
         </div>
      </div>
      <div class="container" *ngIf="listaGrupos2.length < 1">
        <div class="alert alert-secondary text-center" role="alert">
          Aún no has registrado ningún grupo de asignaturas en el sistema <br><br><a routerLink="/grupos-asignaturas" class="btn btn-sm btn-sapp" data-dismiss="modal">Registrar grupo de asignaturas</a>
         </div>
      </div>
      <div class="container" *ngIf="listaGrupos2.length > 0"><br>
      <form [formGroup]="formAsignatura" (ngSubmit)="guardarNuevaAsignatura()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="clave">Clave*</label>
            <input type="text" class="form-control campo-sapp" formControlName="clave" id="clave" placeholder="Clave" autocomplete="off">
          </div>
          <div class="form-group col-md-8">
            <label for="">Asignatura*</label>
            <input type="text" formControlName="asignatura" class="form-control campo-sapp" id="asignatura" placeholder="Asignatura" autocomplete="off">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="clave">Plan de estudios*</label>
            <select formControlName="plan" class="form-control campo-sapp" id="plan" (change)="getPeriodos($event.target.value)">
              <option value="">Selecciona un plan de estudio</option>
              <option *ngFor="let plan of listaPlanes" value="{{plan.id}}">{{plan.plan_estudio}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="">Grado*</label>
            <select formControlName="grado" class="form-control campo-sapp" id="grado" (change)="getGrupos($event.target.value)">
              <option value="">Selecciona un grado</option>
              <option *ngFor="let periodo of listaPeriodos" value="{{periodo.id}}">{{periodo.periodo}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Grupo*</label>
            <select formControlName="grupo" class="form-control campo-sapp" id="grupo">
              <option value="">Selecciona un grupo</option>
              <option *ngFor="let grupo of listaGrupos2" value="{{grupo.id}}">{{grupo.grupo}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
              <label for="">Tipo*</label>
              <input type="text" formControlName="tipo" class="form-control campo-sapp" id="tipo" placeholder="Tipo" autocomplete="off">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="clave">Calificación máxima*</label>
              <input type="text" class="form-control campo-sapp" formControlName="calificacionMax" id="calMax" placeholder="Calificación máxima" autocomplete="off">
            </div>
            <div class="form-group col-md-6">
              <label for="">Calificación mínima aprobatoria*</label>
              <input type="text" formControlName="calificacionMinAprobatoria" class="form-control campo-sapp" id="calMinApro" placeholder="Calificación mínima aprobatoria" autocomplete="off">
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="">Descripción*</label>
            <textarea name="descripcion" formControlName="descripcion" class="form-control" id="" cols="30" rows="4" placeholder="Descripcion" autocomplete="off"></textarea>
          </div>
        </div>
        <button *ngIf="edicion === false" type="submit" class="btn btn-sapp" [disabled]="formAsignatura.invalid">Registrar</button><button type="button" *ngIf="edicion === true" class="btn btn-sapp" [disabled]="formAsignatura.invalid" (click)="guardarCambios()">Guardar cambios</button><br><br>
      </form>
    </div>
    </div>
  </div>
</div>


<div class="table-responsive reporte-pdf" *ngIf="listaAsignaturas.length !== 0">
  <table class="table table-sm table-bordered bg-white table-hover" id="reportePdf">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Clave</th>
          <th scope="col">Asignatura</th>
          <th scope="col">Calif. Máxima</th>
          <th scope="col">Calif. Mín. Aprobatoria</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Grupo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaAsignaturas | sortBy:'id' | filtroAsignaturas:filtroAsignatura ">
          <th class="text-center" scope="row">{{item.id}}</th>
          <td class="text-center">{{item.clave }}</td>
          <td>{{item.asignatura }}</td>
          <td class="text-center">{{item.calificacion_max }}</td>
          <td class="text-center">{{item.calificacion_min_aprobatoria }}</td>
          <td class="text-center">{{item.tipo }}</td>
          <td>{{item.descripcion }}</td>
          <td>{{item.cat_grupo_asignatura.grupo }}</td>
        </tr>
      </tbody>
    </table>
</div>

