  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Facturación - Priaria Independencia</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input  name="filtroCiclo" id="filtroCiclo" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar CFDI" autocomplete="off">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio"  data-toggle="modal" data-target="#formulario"><i class="fas fa-plus-square text-gray-300"></i> Generar CFDI</button>&nbsp;<br><br>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Subconcepto</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Cargos</th>
                            <th scope="col">Impuestos</th>
                            <th scope="col">Recargo</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Total</th>
                            <th scope="col">Abono</th>
                            <th scope="col" colspan="2">Acciones</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr>
                            <td>1</td>
                            <td>Concepto1</td>
                            <td>Subconcepto1</td>
                            <td>Descripción1</td>
                            <td>Cargos1</td>
                            <td>Impuestos1</td>
                            <td>Recargo1</td>
                            <td>Subtotal1</td>
                            <td>Total1</td>
                            <td>Abono1</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Concepto2</td>
                            <td>Subconcepto2</td>
                            <td>Descripción2</td>
                            <td>Cargos2</td>
                            <td>Impuestos2</td>
                            <td>Recargo2</td>
                            <td>Subtotal2</td>
                            <td>Total2</td>
                            <td>Abono2</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Concepto3</td>
                            <td>Subconcepto3</td>
                            <td>Descripción3</td>
                            <td>Cargos3</td>
                            <td>Impuestos3</td>
                            <td>Recargo3</td>
                            <td>Subtotal3</td>
                            <td>Total3</td>
                            <td>Abono3</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>Concepto4</td>
                            <td>Subconcepto4</td>
                            <td>Descripción4</td>
                            <td>Cargos4</td>
                            <td>Impuestos4</td>
                            <td>Recargo4</td>
                            <td>Subtotal4</td>
                            <td>Total1</td>
                            <td>Abono1</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr>

                        </tbody>
                      </table>
                      
                </div>
            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->
