<app-barra></app-barra>
<div class="container">
  
    <!-- Outer Row -->
    <div class="row justify-content-center">
  
      <div class="col-xl-10 col-lg-12 col-md-12 d-none d-lg-block d-md-block">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <img class="pad-image" src="./assets/img/descubre.jpg" alt="SAPPiente - Escuela - Academia - Home school" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-10 col-sm-12 col-lg-12 col-md-12 d-lg-none d-md-none d-sm-block">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <img class="pad-image" src="./assets/img/descubre-sm.png" alt="SAPPiente - Escuela - Academia - Home school" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  <app-footer></app-footer>