  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">{{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row">
                <div class="container">
                  <br>
                    <h3>Mis clases - Licenciatura en mercadotecnia</h3>
                    <hr size="8px"/>
                    <div class="table-responsive">
                      <button class="btn btn-sapp" data-toggle="modal" data-target="#modalPlan">Ver plan de estudios <i class="fas fa-eye text-gray-300 card-sapp"></i></button>
                      &nbsp;&nbsp;<button class="btn btn-sapp">Imprimir lista de materias <i class="fas fa-print text-gray-300 card-sapp"></i></button>
                      <br><br>
                        <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                            <thead class="text-center">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Clave</th>
                                <th scope="col">Asignatura</th>
                                <th scope="col">Profesor</th>
                                <th scope="col">Actividades</th>
                                <th scope="col">Promedio actual</th>
                                <th scope="col">Promedio final</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Detalle</th>
                              </tr>
                            </thead>
                            <tbody class="text-center">
                              <tr>
                                <th scope="row">1</th>
                                <td>LM-ESP-001</td>
                                <td>Diseño web</td>
                                <td>Carlos Castro</td>
                                <td>4</td>
                                <td>8.7</td>
                                <td></td>
                                <td>En curso</td>
                                <td class="text-center"><a href="" ><i class="fas fa-eye text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>LM-ESP-002</td>
                                <td>Ambientación</td>
                                <td>Carlos Castro</td>
                                <td>4</td>
                                <td>8.7</td>
                                <td></td>
                                <td>En curso</td>
                                <td class="text-center"><a href="" ><i class="fas fa-eye text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>LM-ESP-003</td>
                                <td>Administración de trabajo</td>
                                <td>Roberto Rodriguez</td>
                                <td>4</td>
                                <td>8.7</td>
                                <td></td>
                                <td>En curso</td>
                                <td class="text-center"><a href="" ><i class="fas fa-eye text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>LM-ESP-004</td>
                                <td>Psicología del cliente</td>
                                <td>Andrés Chavez</td>
                                <td>2</td>
                                <td>8.7</td>
                                <td></td>
                                <td>En curso</td>
                                <td class="text-center"><a href="" ><i class="fas fa-eye text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td>LM-ESP-005</td>
                                <td>Portafolio profesional</td>
                                <td>Julio Pérez</td>
                                <td>3</td>
                                <td>8.7</td>
                                <td></td>
                                <td>En curso</td>
                                <td class="text-center"><a href="" ><i class="fas fa-eye text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">6</th>
                                <td>LM-ESP-006</td>
                                <td>Diseño gráfico</td>
                                <td>Carlos Castro</td>
                                <td>1</td>
                                <td>8.7</td>
                                <td></td>
                                <td>En curso</td>
                                <td class="text-center"><a href="" ><i class="fas fa-eye text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">7</th>
                                <td>LM-ESP-007</td>
                                <td>Informática</td>
                                <td>Andrés Chavez</td>
                                <td>6</td>
                                <td>8.7</td>
                                <td></td>
                                <td>En curso</td>
                                <td class="text-center"><a href="" ><i class="fas fa-eye text-gray-300"></i></a></td>
                              </tr>
                            </tbody>
                          </table><br>
                          
                    </div>
                </div>
            </div>
            

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" id="modalPlan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="card text-center" id="reportePdf2">
            <div class="card-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              Plan de estudio
            </div>
            <div class="p-5" id="planf">
                <div>
                  <div id="accordion">
                    <div class="card">
                      <div class="card-header card-sapp principal texto-claro" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h5 class="mb-0">
                            Licenciatura en mercadotecnia
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body mg-3">
                          <div>
                            <h6 class="font-weight-bold"><u>1er semestre</u></h6>
                            <div class="table-responsive">
                              <span>Tronco común</span><br><br>
                              <table class="table table-sm table-bordered">
                                  <tr class="principal texto-claro">
                                    <td class="text-center" scope="col">Clave</td>
                                    <td class="text-center" scope="col">Asignatura</td>
                                    <td class="text-center" scope="col">Tipo</td>
                                    <td class="text-center" scope="col">Calif. máxima</td>
                                    <td class="text-center" scope="col">Calif. mín. aprobatoria</td>
                                  </tr>
                                  <tr>
                                    <td>A-021</td>
                                    <td>Informática</td>
                                    <td>Obligatoria</td>
                                    <td>10</td>
                                    <td>8</td>
                                  </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><br>
                </div>
            </div>
          </div>
    </div>
  </div>
</div>

