  <!-- Page Wrapper -->
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Planes de estudio - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaPlanesEstudio.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroPlanEstudio" name="filtroPlanEstudio" id="filtroPlanEstudio" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar plan de estudio">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio" *ngIf="rolAdm === 'Administrador'" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> Nuevo plan de estudio</button>&nbsp;
                    <button *ngIf="listaPlanesEstudio.length !== 0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Imprimir</button>&nbsp;
                    <button *ngIf="listaPlanesEstudio.length !== 0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar</button><br><br>
                </div>
                <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaPlanesEstudio.length === 0">
                  <div class="alert alert-secondary" role="alert">
                    Aún no hay planes de estudio registrados
                  </div>
                </div>
                <div class="table-responsive" *ngIf="listaPlanesEstudio.length !== 0">
                    <table class="table table-sm table-bordered bg-white table-hover">
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Plan de estudio</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Plantel</th>
                            <th scope="col" colspan="4">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let plan of listaPlanesEstudio | sortBy:'id' | filtroPlanesEstudio:filtroPlanEstudio | paginate: { itemsPerPage: 10, currentPage: p, id: 'planP' }; let i = index">
                            <th class="text-center" scope="row">{{plan.id}}</th>
                            <th scope="row" class="text-center">{{plan.clave }}</th>
                            <td>{{plan.plan_estudio }}</td>
                            <td>{{plan.descripcion }}</td>
                            <td class="text-center">{{plan.cat_plantele.nombre_plantel }}</td>
                            <td class="text-center">
                              <i class="fas fa-eye text-gray-300 card-sapp" data-toggle="modal" [attr.data-target]="'#modal' + plan.id"></i>
                              <div class="modal fade bd-example-modal-lg" id="modal{{plan.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                  <div class="modal-content">
                                      <div class="card text-center" id="reportePdf2">
                                          <div class="card-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            Plan de estudio
                                          </div>
                                          <div class="p-5" id="planf">
                                              <div>
                                                <div id="accordion" *ngFor="let planFull of listaPlanFull">
                                                  <div class="card" *ngIf="planFull.id === plan.id">
                                                    <div class="card-header card-sapp principal texto-claro" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                      <h5 class="mb-0">
                                                          {{planFull.plan_estudio}}
                                                      </h5>
                                                    </div>
                                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                      <div class="card-body mg-3">
                                                        <div *ngFor="let periodo of planFull.cat_periodos_escolares">
                                                          <h6 class="font-weight-bold"><u>{{periodo.periodo}}</u></h6>
                                                          <div class="table-responsive" *ngFor="let grupo of periodo.cat_grupo_asignaturas">
                                                            <span>{{grupo.grupo}}</span><br><br>
                                                            <table class="table table-sm table-bordered">
                                                                <tr class="principal texto-claro">
                                                                  <td class="text-center" scope="col">Clave</td>
                                                                  <td class="text-center" scope="col">Asignatura</td>
                                                                  <td class="text-center" scope="col">Tipo</td>
                                                                  <td class="text-center" scope="col">Calif. máxima</td>
                                                                  <td class="text-center" scope="col">Calif. mín. aprobatoria</td>
                                                                </tr>
                                                                <tr *ngFor="let asignatura of grupo.cat_materias">
                                                                  <td>{{asignatura.clave}}</td>
                                                                  <td>{{asignatura.asignatura}}</td>
                                                                  <td>{{asignatura.tipo}}</td>
                                                                  <td>{{asignatura.calificacion_max}}</td>
                                                                  <td>{{asignatura.calificacion_min_aprobatoria}}</td>
                                                                </tr>
                                                            </table>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div><br>
                                              </div>
                                          </div>
                                        </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td class="text-center"><a href="" data-toggle="modal" data-target="#formulario" (click)="updatePlanEstudio(plan.id)"><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center">
                              <a class="card-sapp" (click)="planFullPdf(plan.id)">
                                <i class="fas fa-print text-gray-300"></i>
                              </a>
                            </td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#eliminar' + plan.id">
                                <i class="fas fa-trash text-gray-300"></i>
                              </a>
                              <div id="eliminar{{plan.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>¿Deseas eliminar el registro?</h5>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-sapp" (click)="eliminarPlanEstudio(plan.id)" data-dismiss="modal" >Eliminar</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls id="planP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
                </div>

            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nuevo plan de estudio</h3>
        <h3 *ngIf="edicion === true">Editar plan de estudio</h3>
      </div><br>
      <div class="container">
        <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
          Plan de estudio registrado correctamente
         </div>
         <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
         Cambios guardados correctamente
         </div>
      </div>
      <div class="container" *ngIf="listaPlanteles.length < 1">
        <div class="alert alert-secondary text-center" role="alert">
          Aún no has registrado ningún plantel en el sistema <br><br><a routerLink="/planteles" class="btn btn-sm btn-sapp" data-dismiss="modal">Registrar plantel</a>
         </div>
      </div>
      <div class="container" *ngIf="listaPlanteles.length > 0"><br>
      <form [formGroup]="formPlanEstudio" (ngSubmit)="guardarNuevoPlanEstudio()">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="clave">Clave*</label>
            <input type="text" class="form-control campo-sapp" formControlName="clave" id="clave" placeholder="Clave" autocomplete="off">
          </div>
          <div class="form-group col-md-6">
            <label for="">Plan de estudio*</label>
            <input type="text" formControlName="planEstudio" class="form-control campo-sapp" id="planEstudio" placeholder="Plan de estudio" autocomplete="off">
          </div>
          <div class="form-group col-md-4">
            <label for="">Plantel*</label>
            <select formControlName="plantel" class="form-control campo-sapp" id="plantel">
                <option value="">Selecciona un plantel</option>
                <option *ngFor="let plantel of listaPlanteles" value="{{plantel.id}}">{{plantel.nombre_plantel}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="">Descripción*</label>
            <textarea name="descripcion" formControlName="descripcion" class="form-control" id="" cols="30" rows="4" placeholder="Descripcion" autocomplete="off"></textarea>
          </div>
        </div>
        <button *ngIf="edicion === false" type="submit" class="btn btn-sapp" [disabled]="formPlanEstudio.invalid">Registrar</button><button type="button" *ngIf="edicion === true" class="btn btn-sapp" [disabled]="formPlanEstudio.invalid" (click)="guardarCambios()">Guardar cambios</button><br><br>
      </form>
    </div>
    </div>
  </div>
</div>


<div class="table-responsive reporte-pdf" *ngIf="listaPlanesEstudio.length !== 0">
  <table class="table table-sm table-bordered bg-white table-hover" id="reportePdf">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Clave</th>
          <th scope="col">Plan de estudio</th>
          <th scope="col">Descripción</th>
          <th scope="col">Plantel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of listaPlanesEstudio | sortBy:'id' | filtroPlanesEstudio:filtroPlanEstudio ">
          <th class="text-center" scope="row">{{plan.id}}</th>
          <th scope="row" class="text-center">{{plan.clave }}</th>
          <td>{{plan.plan_estudio }}</td>
          <td>{{plan.descripcion }}</td>
          <td class="text-center">{{plan.cat_plantele.nombre_plantel }}</td>
        </tr>
      </tbody>
    </table>
</div>

