<!-- navegacion botstrap -->
<nav class="navbar navbar-expand-lg bg-transparente">
    <a class="navbar-brand navbar-sapp" href="index.html"><img src="./assets/img/logo.png" width="150px" alt=""></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon icono-claro">Menú</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link navbar-sapp" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-sapp" href="">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-sapp" href="">Contacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-sapp" href="">Escuela para todos</a>
        </li>
        <li class="nav-item" *ngIf="linkLogin != 'true'">
          <a class="nav-link navbar-sapp" routerLink="/login">Acceso</a>
        </li>
        <li class="nav-item" *ngIf="linkLogin == 'true'">
          <a class="nav-link navbar-sapp" routerLink="/dashboard">Panel de control</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- fin de navegacion -->