  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">{{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row">
                <div class="container"><br>
                    <h3>Actividades asignadas - Licenciatura en mercadotecnia</h3>
                    <hr size="8px"/>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                            <thead class="text-center">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Actividad</th>
                                <th scope="col">Asignatura</th>
                                <th scope="col">Profesor</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Fecha de asignación</th>
                                <th scope="col">Fecha de entrega</th>
                                <th scope="col">Estatus</th>
                                <th scope="col" colspan="2">Acciones</th>
                              </tr>
                            </thead>
                            <tbody class="text-center">
                              <tr>
                                <th scope="row">1</th>
                                <td>Investigación maquetación</td>
                                <td>Diseño web</td>
                                <td>Carlos Castro</td>
                                <td>Ordinaria</td>
                                <td>15/02/2021</td>
                                <td>19/02/2021</td>
                                <td>En tiempo</td>
                                <td class="text-center"><a href="" title="Detalles" ><i class="fas fa-paper-plane text-gray-300"></i></a></td>
                                <td class="text-center"><a href="" title="Subir archivos" ><i class="fas fa-upload text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Actividad de regularización</td>
                                <td>Diseño web</td>
                                <td>Carlos Castro</td>
                                <td>Extraordinaria</td>
                                <td>15/02/2021</td>
                                <td>19/02/2021</td>
                                <td>En tiempo</td>
                                <td class="text-center"><a href="" title="Detalles" ><i class="fas fa-paper-plane text-gray-300"></i></a></td>
                                <td class="text-center"><a href="" title="Subir archivos" ><i class="fas fa-upload text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Investigación maquetación</td>
                                <td>Diseño web</td>
                                <td>Carlos Castro</td>
                                <td>Ordinaria</td>
                                <td>15/02/2021</td>
                                <td>19/02/2021</td>
                                <td>En tiempo</td>
                                <td class="text-center"><a href="" title="Detalles" ><i class="fas fa-paper-plane text-gray-300"></i></a></td>
                                <td class="text-center"><a href="" title="Subir archivos" ><i class="fas fa-upload text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>Investigación maquetación</td>
                                <td>Diseño web</td>
                                <td>Carlos Castro</td>
                                <td>Ordinaria</td>
                                <td>15/02/2021</td>
                                <td>19/02/2021</td>
                                <td>En tiempo</td>
                                <td class="text-center"><a href="" title="Detalles" ><i class="fas fa-paper-plane text-gray-300"></i></a></td>
                                <td class="text-center"><a href="" title="Subir archivos" ><i class="fas fa-upload text-gray-300"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td>Investigación maquetación</td>
                                <td>Diseño web</td>
                                <td>Carlos Castro</td>
                                <td>Ordinaria</td>
                                <td>15/02/2021</td>
                                <td>19/02/2021</td>
                                <td>En tiempo</td>
                                <td class="text-center"><a href="" title="Detalles" ><i class="fas fa-paper-plane text-gray-300"></i></a></td>
                                <td class="text-center"><a href="" title="Subir archivos" ><i class="fas fa-upload text-gray-300"></i></a></td>
                              </tr>
                            </tbody>
                          </table><br>
                    </div>
                </div>
            </div>
            

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->
<!-- html para reporte pdf -->

