  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Adeudos - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaAdeudos.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroAdeudo" name="filtroAdeudo" id="filtroAdeudo" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar folio" autocomplete="off">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio" *ngIf="rolAdm === 'Administrador'" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> Registrar adeudo</button>&nbsp;
                    <button *ngIf="listaAdeudos.length !== 0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Imprimir reporte</button>&nbsp;
                    <button *ngIf="listaAdeudos.length !== 0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar reporte</button><br><br>
                </div>
                <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaAdeudos.length === 0">
                  <div class="alert alert-secondary" role="alert">
                    Aún no hay adeudos registrados
                  </div>
                </div>
                <div class="table-responsive" *ngIf="listaAdeudos.length !== 0" >
                    <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Folio</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Adeudo</th>
                            <th scope="col">Total</th>
                            <th scope="col" colspan="2">Acciones</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr *ngFor="let item of listaAdeudos | sortBy:'id' | filtroAdeudos:filtroAdeudo | paginate: { itemsPerPage: 10, currentPage: p, id: 'adeuP' }; let i = index">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.folio}}</td>
                            <td>{{item.tab_alumno.nombres + ' ' + item.tab_alumno.apellido_pat + ' ' + item.tab_alumno.apellido_mat}}</td>
                            <td>{{item.concepto}}</td>
                            <td>{{item.adeudo | currency}}</td>
                            <td>{{item.total| currency}}</td>
                            <td class="text-center"><a href="" data-toggle="modal" data-target="#formulario" (click)="updateAdeudo(item.id)"><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#modal' + item.id">
                                <i class="fas fa-trash text-gray-300"></i>
                              </a>
                              <div id="modal{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>¿Deseas eliminar el registro?</h5>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-sapp" (click)="eliminarAdeudo(item.id)" data-dismiss="modal" >Eliminar</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls id="adeuP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
                </div>
            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nuevo adeudo</h3>
        <h3 *ngIf="edicion === true">Editar adeudo</h3>
      </div><br>
      <div class="container">
        <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
          Adeudo registrado correctamente
         </div>
         <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
         Cambios guardados correctamente
         </div>
      </div>
      <div class="container"><br>
      <form [formGroup]="formAdeudo" (ngSubmit)="guardarNuevoAdeudo()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="folio">Folio*</label>
            <input type="text" class="form-control campo-sapp" formControlName="folio" id="folio" placeholder="Folio" autocomplete="off">
          </div>
          <div class="form-group col-md-6">
            <label for="alumno">Alumno*</label>
            <select formControlName="alumno" id="alumno" class="form-control campo-sapp">
              <option value="">Seleccione un alumno</option>
              <option *ngFor="let alum of listaAlumnos" value="{{alum.id}}">{{alum.nombres + ' ' + alum.apellido_pat + ' ' + alum.apellido_mat}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="concepto">Concepto*</label>
            <input type="text" class="form-control campo-sapp" formControlName="concepto" id="concepto" placeholder="Concepto" autocomplete="off">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <label for="">Adeudo*</label>
            <input type="text" formControlName="adeudo" class="form-control campo-sapp" id="adeudo" placeholder="Adeudo">
          </div>
          <div class="form-group col-md-6">
            <label for="">Total*</label>
            <input type="text" formControlName="total" class="form-control campo-sapp" id="adeudo" placeholder="Total">
          </div>
        </div>
        <button *ngIf="edicion === false" type="submit" class="btn btn-sapp" [disabled]="formAdeudo.invalid">Registrar</button><button type="button" *ngIf="edicion === true" class="btn btn-sapp" [disabled]="formAdeudo.invalid" (click)="guardarCambios()">Guardar cambios</button><br><br>
      </form>
    </div>
    </div>
  </div>
</div>

<!-- html para reporte pdf -->

<div class="table-responsive reporte-pdf">
  <table class="table table-sm table-bordered bg-white table-hover"  id="reportePdf" #data>
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Folio</th>
          <th scope="col">Alumno</th>
          <th scope="col">Concepto</th>
          <th scope="col">Adeudo</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let ciclo of listaAdeudos | sortBy:'id' | filtroAdeudos:filtroAdeudo">
          <th scope="row">{{ciclo.id}}</th>
          <td>{{ciclo.folio}}</td>
          <td>{{ciclo.tab_alumno.nombres + ' ' + ciclo.tab_alumno.apellido_pat + ' ' + ciclo.tab_alumno.apellido_mat}}</td>
          <td>{{ciclo.concepto}}</td>
          <td> $ {{ciclo.adeudo | currency}}</td>
          <td> $ {{ciclo.total | currency}}</td>
        </tr>
      </tbody>
    </table>
</div>
