  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Becas - </h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input  name="filtroCiclo" id="filtroCiclo" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar por alumno" autocomplete="off">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <!-- <button class="btn btn-sapp espacio"  data-toggle="modal" data-target="#formulario"><i class="fas fa-plus-square text-gray-300"></i> Registrar ingreso</button>&nbsp; -->
                    <button  type="button" class="btn btn-sapp espacio" ><i class="fas fa-print text-gray-300"></i> Imprimir</button>&nbsp;
                    <button  type="button" class="btn btn-sapp espacio" ><i class="fas fa-download text-gray-300"></i> Descargar</button><br><br>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Alumno</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Porcentaje</th>
                            <th scope="col">Monto</th>
                            <th scope="col" colspan="2">Acciones</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr>
                            <th scope="row">#1</th>
                            <td>C-00-0001</td>
                            <td>Alumno 1</td>
                            <td>Buen aprovechamiento</td>
                            <td>40%</td>
                            <td>$750.00</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr>
                          <tr>
                            <th scope="row">#2</th>
                            <td>C-00-0002</td>
                            <td>Alumno 2</td>
                            <td>Buen aprovechamiento</td>
                            <td>40%</td>
                            <td>$750.00</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr><tr>
                            <th scope="row">#3</th>
                            <td>C-00-0003</td>
                            <td>Alumno 3</td>
                            <td>Buen aprovechamiento</td>
                            <td>40%</td>
                            <td>$750.00</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr><tr>
                            <th scope="row">#4</th>
                            <td>C-00-0004</td>
                            <td>Alumno 4</td>
                            <td>Buen aprovechamiento</td>
                            <td>40%</td>
                            <td>$750.00</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr><tr>
                            <th scope="row">#5</th>
                            <td>C-00-0005</td>
                            <td>Alumno 5</td>
                            <td>Buen aprovechamiento</td>
                            <td>40%</td>
                            <td>$750.00</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr><tr>
                            <th scope="row">#6</th>
                            <td>C-00-0006</td>
                            <td>Alumno 6</td>
                            <td>Buen aprovechamiento</td>
                            <td>40%</td>
                            <td>$750.00</td>
                            <td class="text-center"><a><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center"><a><i class="fas fa-trash text-gray-300"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                      
                </div>
            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->
