<!-- Sidebar -->
<ul class="navbar-nav sidebar accordion principal {{toggleService.estatus}}" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
      <!-- <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div> -->
      <div class="sidebar-brand-text mx-3 navbar-sapp"><img src="./assets/img/logo.png" width="150px" alt="" style="margin-left: -70px;"></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link item-sapp" routerLink="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Panel de control</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->

    <!-- MENU ADMINISTRADOR -->
    <div *ngIf="idRol === '2'">
      <div *ngFor="let mainItem of mainItems">
        <li class="nav-item">
          <a class="nav-link collapsed item-sapp" href="#" [attr.data-toggle]="muestraIconoCollapse" [attr.data-target]="'#collapseTwo' + mainItem.id" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw {{ mainItem.icono }}"></i>
            <span>{{ mainItem.titulo }}</span>
          </a>
          <div id="collapseTwo{{mainItem.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <div *ngFor="let hijo of listaItems">
                <a class="collapse-item" routerLink="{{ hijo.url }}" *ngIf="hijo.padre === mainItem.id">{{ hijo.titulo }}</a>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>

    <!-- MENU ALUMNO -->

    <div *ngIf="idRol === '6' || idRol === '4'">
      <div *ngFor="let mainItem of mainItems">
        <li class="nav-item">
          <a class="nav-link collapsed item-sapp" routerLink="{{mainItem.url}}" [attr.data-toggle]="muestraIconoCollapse" [attr.data-target]="'#collapseTwo' + mainItem.id" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw {{ mainItem.icono }}"></i>
            <span>{{ mainItem.titulo }}</span>
          </a>
          <div id="collapseTwo{{mainItem.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <div *ngFor="let hijo of listaItems">
                <a class="collapse-item" routerLink="{{ hijo.url }}" *ngIf="hijo.padre === mainItem.id">{{ hijo.titulo }}</a>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>

    <!-- MENU DOCENTES -->
    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle" (click)="ocultarMenu()"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->
