<app-barra></app-barra>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
  <div class="text-center texto-sapp">
  <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
  <p style="color: white" > Cargando... </p>
</div>
</ngx-spinner>
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">

            <!-- Contenedor de fomulario de acceso -->

            <div class="row pad-image">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-500 mb-4">¡Bienvenido!</h1>
                  </div>
                  <form  #frmLogin="ngForm" class="user" (ngSubmit)="onLogin(frmLogin)">
                    <div class="from-group error">
                      <span>{{ mensajeError }}</span>
                    </div><br>
                    <div class="form-group">
                      <input type="text" 
                              class="form-control form-control-user" 
                              id="exampleInputEmail" 
                              aria-describedby="emailHelp" 
                              placeholder="Ingresa tu correo..." 
                              autocomplete="off" 
                              name="correo"
                              ngModel
                              required>
                    </div>
                    <div class="form-group">
                      <input  type="password" 
                              class="form-control form-control-user" 
                              id="exampleInputPassword" 
                              placeholder="Contraseña" 
                              autocomplete="off"
                              name="contrasena"
                              ngModel
                              required>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input  type="checkbox" 
                                class="custom-control-input bg-sapp" 
                                id="customCheck">
                        <label class="custom-control-label" for="customCheck">Recordar datos</label>
                      </div>
                    </div>
                    <input type="submit" class="btn btn-sapp btn-user btn-block" value="Ingresar" />
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small texto-sapp" href="../forgot-password.html">¿Olvidaste tu contraseña?</a>
                  </div>
                  <!-- <div class="text-center">
                    <a class="small" href="../register.html">Create an Account!</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <app-footer></app-footer>