
.pagination::ng-deep {
    display: block;
    font-size: 14px;
}

.pagination::ng-deep .ngx-pagination {
    margin-top: 0px !important;
    text-decoration: none;
    margin-left: -1px;
}

.pagination::ng-deep .ngx-pagination .current {
    position: relative !important;
    padding: 4px 12px !important;
    color: #e2eaf0;
    background:#527780;
    border: none;
    margin-left: -1px;
}

.pagination::ng-deep .ngx-pagination a {
    position: relative !important;
    padding: 4px 12px !important;
    text-decoration: none;
    color: rgb(167, 193, 255);
    background-color:#527780;
    margin-top: 14 !important;
    border: none;
    margin-left: -1px;
}

.pagination::ng-deep .ngx-pagination a:hover {
    background: #ffffff !important;
    padding: 4px 12px !important;
    color: rgba(39, 39, 39, 0.8) !important;
}