  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Planteles - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaPlanteles.length > 4">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroPlantel" name="filtroPlantel" id="filtroPlantel" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar plantel">
                </div>
            </div>

            <div class="row" *ngIf="rolAdm === 'Administrador'">
              <div class="col-xl-8 col-md-6 mb-4">
                  <button class="btn btn-sapp new" data-toggle="modal" data-target="#formulario" (click)="nuevo()">Nuevo plantel &nbsp;&nbsp;<i class="fas fa-plus-square text-gray-300"></i></button>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaPlanteles.length === 0">
                <div class="alert alert-secondary" role="alert">
                  Aún no hay planteles registrados
                </div>
              </div>
                <div class="col-xl-3 col-md-6 mb-4" *ngFor="let plantel of listaPlanteles | filtroPlanteles:filtroPlantel">     
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                      <div class="card-header text-right principal texto-claro">
                        <i class="fas fa-eye card-sapp" data-toggle="modal" [attr.data-target]="'#modal' + plantel.id"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fas fa-edit card-sapp" data-toggle="modal" data-target="#formulario" (click)="updatePlantel(plantel.id)"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fas fa-trash card-sapp" data-toggle="modal"  [attr.data-target]="'#del' + plantel.id"></i>
                        <div id="del{{plantel.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg texto-sapp">
                            <div class="modal-content">
                              <div class="modal-body text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5>¿Deseas eliminar el registro?</h5>
                                <div class="alert alert-warning text-center" role="alert">
                                  Al confirmar también se eliminarán los espacios educativos asociados a este plantel
                                 </div>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-sapp" (click)="eliminarPlantel(plantel.id)" data-dismiss="modal" >Eliminar</button>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <div class="card-body text-center">
                        <i class="fas fa-school fa-2x text-gray-300"></i>
                        <h5 class="card-title">{{ plantel.nombre_plantel }}</h5>
                        <p class="card-text">{{ plantel.municipio + ', ' + plantel.entidad + '.'}}</p>
                      </div>
                    </div>
                    <div class="modal fade bd-example-modal-lg" id="modal{{plantel.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="card text-center">
                                  <div class="card-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    Plantel
                                  </div>
                                  <div class="card-body">
                                    <img class="card-img-top ancho-img" src="./assets/img/school.jpg" alt="Card image cap">
                                    <h3 class="card-title font-weight-bold">{{plantel.nombre_plantel}}</h3>
                                    <h6 class="card-title font-weight-bold">{{plantel.clave}}</h6>
                                    <p class="card-text">{{ plantel.domicilio + ', Col. ' + plantel.colonia + ', ' + plantel.municipio + ', ' + plantel.entidad + '.'}}</p>
                                    <p class="card-text">{{ 'Teléfonos: ' + plantel.telefono1 + ' y ' + plantel.telefono2 + '.'}}</p>
                                    <p class="card-text">{{ 'Correo: ' + plantel.correo + '.'}}</p>
                                    <br>
                                    <table class="table table-sm table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">Dir. General</th>
                                            <th scope="col">Dir. Acádemico</th>
                                            <th scope="col">Dir. Administrativo</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>{{plantel.director_general}}</td>
                                            <td>{{plantel.director_academico}}</td>
                                            <td>{{plantel.director_administrativo}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  </div>
                                  <div>
                                    <label for="">Planes de estudio:</label>
                                    <div *ngFor="let plan of listaPlanesEstudio" class="espacio">
                                      <h5 *ngIf="plan.cat_plantele.nombre_plantel === plantel.nombre_plantel" class="badge-light font-weight-bold">{{plan.plan_estudio}}</h5>
                                    </div>
                                  </div>
                                  <div class="text-left p-3">
                                    <div id="accordion">
                                      <div class="card">
                                        <div class="card-header" id="headingOne">
                                          <h5 class="mb-0">
                                            <button class="btn btn-sapp texto-claro" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              Espacios educativos
                                            </button>
                                          </h5>
                                        </div>
                                    
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                          <div class="card-body">
                                            <div class="table-responsive">
                                              <table class="table table-sm table-bordered">
                                                <thead class="text-center principal texto-claro">
                                                  <tr>
                                                    <td colspan="4"><h3>Instalaciones</h3></td>
                                                  </tr>
                                                  <tr>
                                                    <td rowspan="2">Espacio</td>
                                                    <td rowspan="2">Clave</td>
                                                    <td colspan="2">Ubicación</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Edificio</td>
                                                    <td>Nivel</td>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr *ngFor="let aula of listaEspacios | sortBy:'tipo'">
                                                    <td *ngIf="aula.cat_plantele.nombre_plantel === plantel.nombre_plantel">{{aula.tipo}}</td>
                                                    <td *ngIf="aula.cat_plantele.nombre_plantel === plantel.nombre_plantel">{{aula.clave}}</td>
                                                    <td class="text-center" *ngIf="aula.cat_plantele.nombre_plantel === plantel.nombre_plantel">{{aula.edificio}}</td>
                                                    <td class="text-center" *ngIf="aula.cat_plantele.nombre_plantel === plantel.nombre_plantel">{{aula.nivel}}</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                </div>

            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>
 

<!-- Large modal -->

<!-- formulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nuevo plantel</h3>
        <h3 *ngIf="edicion === true">Editar plantel</h3>
      </div><br>
      
      <div class="container">



      <form [formGroup]="formPlantel" (ngSubmit)="guardarNuevoPlantel()" id="regiration_form">

        <div class="container">

          <div class="tab-content" id="myTabContent">

            <div *ngIf="paso1 === true" class="tab-pane fade show active" id="uno" role="tabpanel" aria-labelledby="home-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
              </div><br>
                <h5><i class="fas fa-school card-sapp" data-toggle="modal"></i> &nbsp;&nbsp;Paso 1: Plantel</h5><br>
              <div class="form-row">
                <div class="form-group col-md-3">
                  <label for="clave">Clave*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="clave" id="clave" placeholder="Clave" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="nombre">Nombre del plantel*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="nombrePlantel" id="nombre" placeholder="Nombre de plantel" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                  <label for="nombreCorto">Nombre corto*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="alias" id="alias" placeholder="Nombre corto" autocomplete="off">
                </div>
              </div>
              <button (click)="stepper2()" class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>


            <div *ngIf="paso2 === true" class="tab-pane fade show active" id="dos" role="tabpanel" aria-labelledby="profile-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
              </div>
              <br>
              <h5><i class="fas fa-map card-sapp" data-toggle="modal"></i> &nbsp;&nbsp;Paso 2: Ubicación</h5><br>
              <div class="form-row">
                <div class="form-group col-md-9">
                  <label for="domicilio">Domicilio*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="domicilio" id="domicilio" placeholder="Domicilio" autocomplete="off">
                </div>
                <div class="form-group col-md-3">
                  <label for="cp">Código postal*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="cp" id="cp" placeholder="Código postal" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="colonia">Colonia*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="colonia" id="colonia" placeholder="Colonia" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="ciudad">Ciudad*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="ciudad" id="ciudad" placeholder="Ciudad" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="municipio">Alcaldía o Municipio*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="municipio" id="municipio" placeholder="Alcaldía o municipio" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="entidad">Entidad*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="entidad" id="entidad" placeholder="Entidad" autocomplete="off">
                </div>
              </div>
              <button (click)="stepper1()" class="btn btn-sm btn-sapp" type="button">Anterior</button>&nbsp;<button (click)="stepper3()" class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>


            <div *ngIf="paso3 === true" class="tab-pane fade show active" id="tres" role="tabpanel" aria-labelledby="contact-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
              </div>
              <br>
              <h5><i class="fas fa-phone card-sapp" data-toggle="modal"></i> &nbsp;&nbsp;Paso 3: Contacto</h5><br>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="tel1">Teléfono 1*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="telefono1" id="telefono1" placeholder="Teléfono 1" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="tel2">Teléfono 2 (Opcional)</label>
                  <input type="text" class="form-control campo-sapp" formControlName="telefono2" id="telefono2" placeholder="Teléfono 2" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="tel2">Correo*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="correo" id="correo" placeholder="Correo" autocomplete="off">
                </div>
              </div>
              <button (click)="stepper2()" class="btn btn-sm btn-sapp" type="button">Anterior</button>&nbsp;<button (click)="stepper4()" class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>


            <div *ngIf="paso4 === true" class="tab-pane fade show active" id="cuatro" role="tabpanel" aria-labelledby="contact-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
              </div>
              <br>
              <h5><i class="fas fa-users card-sapp" data-toggle="modal"></i> &nbsp;&nbsp;Paso 4: Directores</h5><br>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dirGen">Director general*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="directorGeneral" id="directorGeneral" placeholder="Director general" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="dirAca">Director académico*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="directorAcademico" id="directorAcademico" placeholder="Director acádemico" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dirAdm">Director administrativo*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="directorAdministrativo" id="directorAdministrativo" placeholder="Director administrativo" autocomplete="off">
                </div>
              </div>
              <button (click)="stepper3()" class="btn btn-sm btn-sapp" type="button">Anterior</button>&nbsp;<button (click)="stepper5()" class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>

            <div *ngIf="paso5 === true" class="tab-pane fade show active" id="cinco" role="tabpanel" aria-labelledby="contact-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
              <br>
              <div class="container">
                <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
                  Plantel registrado correctamente
                 </div>
                 <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
                 Cambios guardados correctamente
                 </div>
              </div>
              <h5><i class="fas fa-bookmark card-sapp" data-toggle="modal"></i>&nbsp;&nbsp; Paso 5: Registro oficial</h5><br>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="cct">Clave de centro de trabajo - CCT (Opcional)</label>
                  <input type="text" class="form-control campo-sapp" formControlName="cct" id="cct" placeholder="CCT" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="seccion">Sección (Opcional)</label>
                  <input type="text" class="form-control campo-sapp" formControlName="seccion" id="seccion" placeholder="Sección" autocomplete="off">
                </div>
              </div>
              <button (click)="stepper4()" class="btn btn-sm btn-sapp" type="button">Anterior</button>&nbsp;
              <input type="submit" name="submit" *ngIf="edicion === false" class="submit btn btn-sapp btn-sm" value="Registrar" id="submit_data" />
              <button type="button" *ngIf="edicion === true" class="btn btn-sm btn-sapp" (click)="guardarCambios()">Guardar cambios</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>

          </div>
        </div><br>
        
        
        <!-- <button type="submit" class="btn btn-sapp">Registrar</button><br><br> -->
      </form>
    </div>
    </div>
  </div>
</div>



