  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Plazas - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaPlazas.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroPlaza" name="filtroPlaza" id="filtroPlaza" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar plaza" autocomplete="off">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio" *ngIf="rolAdm === 'Administrador'" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> Nueva plaza</button>&nbsp;
                    <button *ngIf="listaPlazas.length !== 0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Imprimir</button>&nbsp;
                    <button *ngIf="listaPlazas.length !== 0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar</button><br><br>
                </div>
                <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaPlazas.length === 0">
                  <div class="alert alert-secondary" role="alert">
                    Aún no hay plazas registradas
                  </div>
                </div>
                <div class="table-responsive" *ngIf="listaPlazas.length !== 0" >
                    <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Plaza</th>
                            <th scope="col">Plantel</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Personal asignado</th>
                            <th scope="col" colspan="2">Acciones</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr *ngFor="let item of listaPlazas | sortBy:'id' | filtroPlazas:filtroPlaza | paginate: { itemsPerPage: 10, currentPage: p, id: 'plazaP' }; let i = index">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.plaza}}</td>
                            <td>{{item.cat_plantele.nombre_plantel}}</td>
                            <td>{{item.cat_departamento.descripcion_corta}}</td>
                            <td *ngIf="item.tab_personal === null" class="text-success">Abierta</td>
                            <td *ngIf="item.tab_personal !== null" class="text-secondary">Cerrada</td>
                            <td *ngIf="item.tab_personal !== null" class="font-weight-bold">{{item.tab_personal.nombres + ' ' + item.tab_personal.apellido_pat + ' ' + item.tab_personal.apellido_mat }}</td>
                            <td *ngIf="item.tab_personal === null">Sin asignar</td>
                            <td class="text-center"><a href="" data-toggle="modal" data-target="#formulario" (click)="updatePlaza(item.id)"><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#modal' + item.id">
                                <i class="fas fa-trash text-gray-300"></i>
                              </a>
                              <div id="modal{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>¿Deseas eliminar el registro?</h5>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-sapp" (click)="eliminarPlaza(item.id)" data-dismiss="modal" >Eliminar</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls id="plazaP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
                </div>
            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nueva plaza</h3>
        <h3 *ngIf="edicion === true">Editar plaza</h3>
      </div><br>
      <div class="container">
        <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
          Plaza registrada correctamente
         </div>
         <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
         Cambios guardados correctamente
         </div>
      </div>
      <div class="container"><br>
      <form [formGroup]="formPlaza" (ngSubmit)="guardarNuevaPlaza()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="plaza">Plaza*</label>
            <input type="text" class="form-control campo-sapp" formControlName="plaza" id="plaza" placeholder="Plaza" autocomplete="off">
          </div>
          <div class="form-group col-md-6">
            <label for="plantel">Plantel*</label>
            <select type="text" class="form-control campo-sapp" formControlName="plantel" id="plantel" autocomplete="off">
                <option value="">Selecciona un plantel</option>
                <option *ngFor="let item of listaPlanteles" value="{{item.id}}">{{item.nombre_plantel}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="plantel">Departamento*</label>
            <select type="text" class="form-control campo-sapp" formControlName="departamento" id="departamento" autocomplete="off">
                <option value="">Selecciona un departamento</option>
                <option *ngFor="let item of listaDepartamentos" value="{{item.id}}">{{item.descripcion_corta}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="plantel">Asignar a personal (opcional)</label>
            <select type="text" class="form-control campo-sapp" formControlName="personal" id="personal" autocomplete="off">
                <option value="">Selecciona a un colaborador</option>
                <option *ngFor="let item of listaPersonal | sortBy:'nombres'" value="{{item.id}}">{{item.nombres + ' ' + item.apellido_pat + ' ' + item.apellido_mat}}</option>
            </select>
          </div>
        </div>
        <button *ngIf="edicion === false" type="submit" class="btn btn-sapp" [disabled]="formPlaza.invalid">Registrar</button>
        <button type="button" *ngIf="edicion === true" class="btn btn-sapp" [disabled]="formPlaza.invalid" (click)="guardarCambios()">Guardar cambios</button><br><br>
      </form>
    </div>
    </div>
  </div>
</div>

<!-- html para reporte pdf -->

<div class="table-responsive reporte-pdf">
  <table class="table table-sm table-bordered bg-white table-hover"  id="reportePdf" #data>
      <thead class="text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Plaza</th>
            <th scope="col">Plantel</th>
            <th scope="col">Departamento</th>
            <th scope="col">Estatus</th>
            <th scope="col">Personal asignado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaPlazas | sortBy:'id' | filtroPlazas:filtroPlaza">
            <th class="text-center" scope="row">{{item.id}}</th>
            <td>{{item.plaza}}</td>
            <td>{{item.cat_plantele.nombre_plantel}}</td>
            <td>{{item.cat_departamento.descripcion_corta}}</td>
            <td class="text-center" *ngIf="item.tab_personal === null" class="text-success">Abierta</td>
            <td class="text-center" *ngIf="item.tab_personal !== null" class="text-secondary">Cerrada</td>
            <td *ngIf="item.tab_personal !== null">{{item.tab_personal.nombres}}</td>
            <td class="text-center" *ngIf="item.tab_personal === null">Sin asignar</td>
        </tr>
      </tbody>
    </table>
</div>
