*, html, body{
    font-family: 'Quicksand', sans-serif;
}

a:hover {
    text-decoration: none;
    color:#c5d5de;
}
.principal {
    background-color:   #527780  ;
    /* rgb   82, 119, 128 */
}

.bg-transparente {
    background-color: transparent;
}

.navbar-sapp {
    font-family: 'Quicksand', sans-serif;
    color: #e2eaf0;
    margin-left: 15px;
}
.navbar-sapp:hover {
    color:  #c5d5de ;
}

.item-sapp {
    font-family: 'Quicksand', sans-serif;
    color: #e2eaf0;
}
.item-sapp:hover {
    color:  #c5d5de ;
}

.pad-image{
    padding: 20px;
}

.texto-claro{
    font-family: 'Quicksand', sans-serif;
    color: #e2eaf0;
}

.icono-claro{
    color:  #c5d5de ;
}

.icono-oscuro{
    background-color:   #527780  ;
}

.btn-sapp{
    background-color: #527780;
    color: #e2eaf0;
    border-radius: 40px;
}

.btn-sapp:hover{
    background-color: #6a8a92;
    color: #e2eaf0;
}

.header-notif-sapp-oscuro {
    background-color:   #527780  ;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    color: #e2eaf0;
}


.bg-menu-sapp{
    background-color:   #527780  ;
}

.texto-sapp{
    color: #90a1ab;
    font-family: 'Quicksand', sans-serif;
}
.texto-sapp:hover{
    color: #627682;
    text-decoration: none;
}

.link-sapp-activo{
    color: #ffffff;
}
.link-sapp-activo:hover{
    color: #ffffff;
}

.link-item {
    margin-left: 3px;
}

.children-sapp{
    font-size: 12px;
}

.pad-item-sapp {
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}

.border-left-sapp { 
    border-left: 0.25rem solid #527780 !important;
  }

  .card-sapp:hover{
      cursor: pointer;
  }

  .campo-sapp{
      border-radius: 40px;
  }

  .table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
}

.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    right: 10px;
    top: 16px;
}

.table-sortable > thead > tr > th:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-bottom: 0px solid transparent;
}

.table-sortable > thead > tr > th:hover:after {
    border-top: 5px solid #888;
}

.table-sortable > thead > tr > th.asc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #333;
}
.table-sortable > thead > tr > th.asc:hover:after {
    border-bottom: 5px solid #888;
}

.table-sortable > thead > tr > th.desc:after {    
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    border-bottom: 5px solid transparent;
}

textarea:focus, 
select:focus,
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {   
       border-color: none;
       /* give your style */
       box-shadow: none;
       /* give your style */
       outline: 0 none;
       /* give your style */
}

select {
    appearance: none;

}

.espacio{
    margin-top: 10px;
}

.ancho-img {
    width: 40%;
    border-radius: 5px;
}

.ancho-img-2 {
    width: 100%;
    border-radius: 5px;
}

.reporte-pdf{
    position:absolute;
    left:-100%;
    top: -100%;
}

.sapp-color{
    color:#527780;
}

.card {
    box-shadow: 0px 0px 10px #999;
    border: none;
}

.in-file {
    display: none;
    visibility: hidden;
}

.select-img{
    cursor: pointer;
}

.progress-bar {
    background-color:#527780 ;
}

.radio-sapp{
    border-color:#527780;
    color:#527780 ;
    background-color: #527780;
}
