  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">{{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row">
                <div class="container"><br>
                    <h3>Datos académicos</h3>
                    <hr size="8px" />
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="nombre">Nombre completo(s)</label>
                            <input type="text" class="form-control campo-sapp" id="nombre" value="Mario Velazquez Juarez" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="clave">Matrícula</label>
                            <input type="text" class="form-control campo-sapp"  id="matricula" value="202100021" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="nombre">Plantel</label>
                        <input type="text" class="form-control campo-sapp" id="plantel" value="Centro" disabled autocomplete="off">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="clave">Ciclo escolar</label>
                        <input type="text" class="form-control campo-sapp"  id="ciclo" value="2021-01" disabled autocomplete="off">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="clave">Plan de estudios</label>
                        <input type="text" class="form-control campo-sapp"  id="planEstudios" value="Licenciatura en mercadotecnia" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="grupo">Grupo</label>
                            <input type="text" class="form-control campo-sapp" id="grupo" value="GR-001" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="estatus">Estatus</label>
                            <input type="text" class="form-control campo-sapp"  id="estatus" value="Activo" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="clave">Promedio actual</label>
                            <input type="text" class="form-control campo-sapp"  id="promedio" value="9.5" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="clave">Asignaturas del periodo</label>
                            <input type="text" class="form-control campo-sapp"  id="asignaturas" value="10" disabled autocomplete="off">
                        </div>
                    </div><br><br>
                  </div>
            </div>
            <div class="row">
                <div class="container"><br>
                    <h3>Datos generales</h3>
                    <hr size="8px"/>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="sexo">Sexo</label>
                            <input type="text" class="form-control campo-sapp" id="sexo" value="Masculino" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="clave">Fecha de nacimiento</label>
                            <input type="text" class="form-control campo-sapp"  id="fechaNacimiento" value="08/08/1988" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="clave">Nacionalidad</label>
                            <input type="text" class="form-control campo-sapp"  id="nacionalidad" value="Mexicana" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="clave">Clave de registro de población</label>
                            <input type="text" class="form-control campo-sapp"  id="curp" value="AECR880808HDFRSM05" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="nombre">Domicilio</label>
                            <input type="text" class="form-control campo-sapp" id="domicilio" value="Panuco Mz. 488 Lt. 12" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="clave">Colonia</label>
                            <input type="text" class="form-control campo-sapp"  id="colonia" value="Miravalle" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="nombre">Ciudad / Municipio</label>
                            <input type="text" class="form-control campo-sapp" id="municipio" value="Iztapalapa" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="clave">Entidad federativa</label>
                            <input type="text" class="form-control campo-sapp"  id="entidad" value="Ciudad de México" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="clave">País</label>
                            <input type="text" class="form-control campo-sapp"  id="pais" value="México" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="clave">Código postal</label>
                            <input type="text" class="form-control campo-sapp"  id="cp" value="09696" disabled autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="grupo">Teléfono</label>
                            <input type="text" class="form-control campo-sapp" id="telefono" value="55 6135 3341" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estatus">Móvil</label>
                            <input type="text" class="form-control campo-sapp"  id="movil" value="55 6135 3341" disabled autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="clave">Correo</label>
                            <input type="text" class="form-control campo-sapp"  id="correo" value="rarellano8888@gmail.com" disabled autocomplete="off">
                        </div>
                    </div><br><br>
                    <button type="button" class="btn btn-sapp" >Solicitar correción de datos</button>&nbsp;&nbsp;<button type="button" class="btn btn-sapp" >Imprimir hoja de datos</button><br><br>
                  </div>
            </div>
            <div class="row">
              <div class="container"><br>
                <h3>Documentos</h3>
                <hr size="8px"/>
                <div class="table-responsive">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th>Documento</th>
                        <th>Archivo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Acta de nacimiento</td>
                        <td>file.pdf</td>
                      </tr>
                      <tr>
                        <td>CURP</td>
                        <td>file2.pdf</td>
                      </tr>
                      <tr>
                        <td>Certificado de estudios</td>
                        <td>file3.pdf</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->
<!-- html para reporte pdf -->

