  <!-- Page Wrapper -->
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Espacios educativos - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaEspacios.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroEspacio" name="filtroEspacio" id="filtroEspacio" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar espacio educativo">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio" *ngIf="rolAdm === 'Administrador'" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> Nuevo espacio</button>&nbsp;
                    <button *ngIf="listaEspacios.length !==0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Imprimir</button>&nbsp;
                    <button *ngIf="listaEspacios.length !==0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar</button><br><br>
                </div>
                <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaEspacios.length === 0">
                  <div class="alert alert-secondary" role="alert">
                    Aún no hay espacios registrados
                  </div>
                </div>
                <div class="table-responsive" *ngIf="listaEspacios.length !== 0">
                    <table class="table table-sm table-bordered bg-white table-hover">
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Plantel</th>
                            <th scope="col">Edificio</th>
                            <th scope="col">Nivel</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Capacidad</th>
                            <th scope="col" colspan="2">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let espacio of listaEspacios | sortBy:'id' | filtroEspaciosEducativos:filtroEspacio | paginate: { itemsPerPage: 10, currentPage: p, id: 'espacioP' }; let i = index">
                            <th class="text-center" scope="row">{{espacio.id}}</th>
                            <td class="text-center">{{espacio.clave }}</td>
                            <td class="text-center">{{espacio.estatus_uso }}</td>
                            <td>{{espacio.tipo }}</td>
                            <td>{{espacio.cat_plantele.nombre_plantel }}</td>
                            <td class="text-center">{{espacio.edificio }}</td>
                            <td class="text-center">{{espacio.nivel }}</td>
                            <td>{{espacio.descripcion }}</td>
                            <td class="text-center">{{espacio.capacidad }}</td>
                            <td class="text-center"><a href="" data-toggle="modal" data-target="#formulario" (click)="updateEspacio(espacio.id)"><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#modal' + espacio.id">
                                <i class="fas fa-trash text-gray-300"></i>
                              </a>
                              <div id="modal{{espacio.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>¿Deseas eliminar el registro?</h5>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-sapp" (click)="eliminarEspacio(espacio.id)" data-dismiss="modal" >Eliminar</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls id="espacioP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
                </div>

            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nuevo espacio educativo</h3>
        <h3 *ngIf="edicion === true">Editar espacio educativo</h3>
      </div><br>
      <div class="container">
        <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
          Espacio registrado correctamente
         </div>
         <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
         Cambios guardados correctamente
         </div>
      </div>
      <div class="container" *ngIf="listaPlanteles.length < 1">
        <div class="alert alert-secondary text-center" role="alert">
          Aún no has registrado ningún plantel en el sistema <br><br><a routerLink="/planteles" class="btn btn-sm btn-sapp" data-dismiss="modal">Registrar plantel</a>
         </div>
      </div>
      <div class="container" *ngIf="listaPlanteles.length > 0"><br>
      <form [formGroup]="formEspacio" (ngSubmit)="guardarNuevoEspacio()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="clave">Clave</label>
            <input type="text" class="form-control campo-sapp" formControlName="clave" id="clave" placeholder="Clave" autocomplete="off">
          </div>
          <div class="form-group col-md-4">
            <label for="">Tipo</label>
            <input type="text" formControlName="tipo" class="form-control campo-sapp" id="tipo" placeholder="Tipo" autocomplete="off">
          </div>
          <div class="form-group col-md-4">
            <label for="">Plantel</label>
            <select name="plantel" id="plantel" formControlName="plantel" class="form-control campo-sapp">
              <option value="" class="text-danger">Selecciona un plantel</option>
              <option *ngFor="let plantel of listaPlanteles" value="{{plantel.id}}">{{plantel.nombre_plantel}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="">Edificio</label>
            <input type="text" formControlName="edificio" class="form-control campo-sapp" id="edificio" placeholder="Edificio" autocomplete="off">
          </div>
          <div class="form-group col-md-4">
            <label for="">Nivel</label>
            <input type="text" formControlName="nivel" class="form-control campo-sapp" id="nivel" placeholder="Nivel" autocomplete="off">
          </div>
          <div class="form-group col-md-4">
            <label for="clave">Capacidad</label>
            <input type="text" class="form-control campo-sapp" formControlName="capacidad" id="capacidad" placeholder="Capacidad" autocomplete="off">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="">Descripción</label>
            <textarea name="descripcion" formControlName="descripcion" class="form-control" id="" cols="30" rows="4" placeholder="Descripcion" autocomplete="off"></textarea>
          </div>
        </div>
        <button *ngIf="edicion === false" type="submit" class="btn btn-sapp" [disabled]="formEspacio.invalid">Registrar</button><button type="button" *ngIf="edicion === true" class="btn btn-sapp" [disabled]="formEspacio.invalid" (click)="guardarCambios()">Guardar cambios</button><br><br>
      </form>
    </div>
    </div>
  </div>
</div>


<div class="table-responsive reporte-pdf" *ngIf="listaEspacios.length !== 0">
  <table class="table table-sm table-bordered bg-white table-hover" id="reportePdf">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Clave</th>
          <th scope="col">Estatus</th>
          <th scope="col">Tipo</th>
          <th scope="col">Plantel</th>
          <th scope="col">Edificio</th>
          <th scope="col">Nivel</th>
          <th scope="col">Descripción</th>
          <th scope="col">Capacidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let espacio of listaEspacios | sortBy:'id' | filtroEspaciosEducativos:filtroEspacio ">
          <th class="text-center" scope="row">{{espacio.id}}</th>
          <td class="text-center">{{espacio.clave }}</td>
          <td class="text-center">{{espacio.estatus_uso }}</td>
          <td>{{espacio.tipo }}</td>
          <td>{{espacio.cat_plantele.nombre_plantel }}</td>
          <td class="text-center">{{espacio.edificio }}</td>
          <td class="text-center">{{espacio.nivel }}</td>
          <td>{{espacio.descripcion }}</td>
          <td class="text-center">{{espacio.capacidad }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id="espacioP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
</div>

