  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Egresados - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaPersonal.length > 4">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroPersonal" name="filtroPersonal" id="filtroPersonal" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar al colaborador">
                </div>
            </div>

            <!-- boton de nuevo registro -->

            <div class="row" *ngIf="rolAdm === 'Administrador'">
              <div class="col-xl-8 col-md-6 mb-4">
                  <!-- <button class="btn btn-sapp espacio" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> &nbsp;&nbsp;Nuevo aspirante</button>&nbsp; -->
                  <button *ngIf="listaPersonal.length !==0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Descargar pdf</button>&nbsp;
                  <button *ngIf="listaPersonal.length !==0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar excel</button><br><br>
              </div>
            </div>

            <!-- alerta de no registros -->

            <div class="row">
              <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaPersonal.length === 0">
                <div class="alert alert-secondary" role="alert">
                  Aún no hay alumnos egresados
                </div>
              </div>

              <!-- Tarjetas de colaboradores -->

                <div class="col-xl-3 col-md-6 mb-4" *ngFor="let persona of listaAlumnos | sortBy:'nombres' | filtroPersonal:filtroPersonal | paginate: { itemsPerPage: 8, currentPage: p, id: 'personalP' }; let i = index">     
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                      <div class="card-header text-right principal texto-claro">
                        <i title="Ver información" class="fas fa-eye card-sapp" data-toggle="modal" [attr.data-target]="'#modal' + persona.id"></i>&nbsp;&nbsp;&nbsp;
                        <i title="Editar información" class="fas fa-edit card-sapp" data-toggle="modal" data-target="#formulario" (click)="updatePersonal(persona.id)"></i>&nbsp;&nbsp;&nbsp;
                        <i title="Agregar archivo a expediente" class="fas fa-paperclip card-sapp" data-toggle="modal" [attr.data-target]="'#cargaDoc' + persona.id" (click)="setearDocumento()"></i>&nbsp;&nbsp;&nbsp;
                        <i title="Eliminar colaborador" class="fas fa-trash card-sapp" data-toggle="modal"  [attr.data-target]="'#del' + persona.id"></i>
                        <!-- modal de alerta de eliminación -->
                        <div id="del{{persona.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg texto-sapp">
                            <div class="modal-content">
                              <div class="modal-body text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5>¿Deseas eliminar el registro?</h5>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-sapp" (click)="eliminarPersonal(persona.id)">Eliminar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- modal de carga de expediente -->

                        <div id="cargaDoc{{persona.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                          <div class="modal-dialog modal-lg texto-sapp">
                            <div class="modal-content">
                              <form [formGroup]="formDocument" enctype="multipart/form-data">
                              <div class="modal-body text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5>Agregar documento al expediente de {{persona.nombres}}</h5><br>
                                <div>
                                    <div class="form-row">
                                      <div class="col-lg-12 col-md-4 col-sm-12">
                                        <label for="tipo" class="">Agregar o actualizar documento*</label>
                                        <select required class="form-control form-control-sm col-12" id="tipo" formControlName="tipo">
                                        <option value="">Selecciona un tipo</option>
                                        <option value="Cédula profesional">Cédula profesional</option>
                                        <option value="Constancia de estudios">Constancia de estudios</option>
                                        <option value="Certificación">Certificación</option>
                                        <option value="Currículum">Currículum</option>
                                        <option value="Expediente médico">Expediente médico</option>
                                        <option value="Referencia laboral">Referencia laboral</option>
                                        <option value="Referencia personal">Referencia personal</option>
                                        <option value="Identificación oficial">Identificación oficial</option>
                                        <option value="CURP">CURP</option>
                                        <option value="RFC">RFC</option>
                                        <option value="NSS">NSS</option>
                                      </select><br><span class="text-danger">{{validador}}</span> 
                                      </div>
                                      
                                      <div class="col-lg-12 col-md-4 col-sm-12"><br>
                                        <label for="archivo" class="btn btn-sm btn-secondary">Seleccionar archivo <i class="fas fa-upload"></i></label>
                                        <input type="file" class="in-file" id="archivo" (change)="cargaDocumento($event)"><br>{{nombreDocumento}} <i *ngIf="nombreDocumento !== ''" class="fas fa-check text-success"></i>
                                        <span class="text-danger">{{alertaSize}}</span>
                                      </div>
                                    </div>
                                </div>
                                <div><br>
                                  <button *ngIf="nombreDocumento !== ''" (click)="subirDoc(persona.id)" type="button" class="submit btn btn-sm btn-sapp" >Subir archivo</button>
                                </div>
                              </div>
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body text-center">
                        <img *ngIf="persona.foto === null" (click)="nuevo()" src="{{imgPath + 'no-image-1.jpg'}}" alt="" data-toggle="modal" [attr.data-target]="'#formFoto' + persona.id" class="card-sapp" title="Cambiar foto de perfil" width="150px" height="175px">
                        <img *ngIf="persona.foto !== null" (click)="nuevo()" src="{{imgPath + persona.foto}}" alt="" data-toggle="modal" [attr.data-target]="'#formFoto' + persona.id" class="card-sapp" title="Cambiar foto de perfil" width="150px" height="175px">


                        <!-- modal para cambiar foto -->

                        <div class="modal fade" id="formFoto{{persona.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Selecciona una imagen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <label for="ft" class="btn btn-sapp">Cargar... <i class="fas fa-upload card-sapp"></i></label>
                                <input id="ft" class="in-file" type="file" accept=".jpg,.png,.jpeg,.gif" (change)="cargaImagen($event)"><br>
                                <img src="{{imgURL}}" alt="" *ngIf="imgURL !==''" width="150px" height="175px">
                              </div>
                              <div class="text-center">
                                <span class="text-danger">{{alertaSize}}</span>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-sapp" *ngIf="imgURL !== ''" (click)="subirImg(persona.id)" data-dismiss="modal">Guardar imagen</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      <br>
                        <span>{{persona.rol}}</span>
                        <h6 class="card-title font-weight-bold">{{ persona.nombres +' '+ persona.apellido_pat +' '+ persona.apellido_mat }}</h6>
                      </div>
                    </div>
                    <!-- modal de detalles -->
                    <div class="modal fade bd-example-modal-lg" id="modal{{persona.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="card text-center">
                                  <div class="card-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    Colaborador
                                  </div>
                                  <div class="card-body">
                                    <div class="foto" *ngIf="persona.foto === null">
                                      <img class="card-img-top ancho-img" src="{{imgPath + 'no-image-1.jpg'}}" alt="Card image cap"><br><br>
                                    </div>
                                    <div class="foto" *ngIf="persona.foto !== null">
                                      <img class="card-img-top ancho-img" src="{{imgPath + persona.foto}}" alt="Card image cap"><br><br>
                                    </div>
                                    <h5>{{persona.rol}}</h5>
                                    <h3 class="card-title font-weight-bold">{{persona.nombres +' '+ persona.apellido_pat +' '+ persona.apellido_mat}}</h3>
                                    <h6 class="card-title font-weight-bold">Id: {{persona.clave}}</h6>
                                    <p class="card-text"></p>
                                    <span class="card-text">{{ 'Teléfonos: ' + persona.telefono + ' y ' + persona.movil + '.'}}</span><br>
                                    <span class="card-text">{{ 'Correo: ' + persona.correo + '.'}}</span><br>
                                    <a href="{{persona.socialNet}}" target="blank" class="texto-sapp"><i class="fas fa-share card-sapp"></i></a><br>
                                    <br>
                                    <div class="table-responsive">
                                      <table class="table table-sm table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col" colspan="2">Información</th>
                                          </tr>
                                        </thead>
                                        <tbody class=" text-left">
                                          <tr><th scope="col">Domicilio</th><td>{{ persona.domicilio + ', Col. ' + persona.colonia + ', ' + persona.municipio + ', ' + persona.entidad + '.'}}</td></tr>
                                          <tr><th scope="col">CURP</th><td>{{persona.curp}}</td></tr>
                                          <tr><th scope="col">RFC</th><td>{{persona.rfc}}</td></tr>
                                          <tr><th scope="col">NSS</th><td>{{persona.nss}}</td></tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <br>
                                    <div class="table-responsive">
                                      <table class="table table-sm table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col" colspan="4">Expediente</th>
                                          </tr>
                                        </thead>
                                        <tbody class=" text-left">
                                          <tr *ngIf="persona.tab_documentos_alumnos.length < 1">
                                            <td colspan="3" class="text-center"><span class="text-danger">
                                              Aún no hay documentos cargados
                                            </span></td></tr>
                                          <tr *ngIf="persona.tab_documentos_alumnos.length > 0" class="text-center font-weight-bold"><td>Documento</td><td>Tipo</td><td colspan="2">Acciones</td></tr>
                                          <tr *ngFor="let docum of persona.tab_documentos_personals | sortBy:'id'">

                                            <!-- se usa pipe personalizado par aeliminar el id generado por uidd -->
                                            
                                            <th scope="col" *ngIf="docum.estatus === 1">{{docum.documento}}</th>
                                            <td *ngIf="docum.estatus === 1">{{docum.tipo}}</td>
                                            <td class="text-center" *ngIf="docum.estatus === 1"><a class="texto-sapp" href="{{docPath + docum.documento}}" target="_blank"><i title="Ver documento" class="fas fa-eye card-sapp"></i></a></td>
                                            <td class="text-center" *ngIf="docum.estatus === 1"><i title="Eliminar documento" class="fas fa-trash card-sapp" (click)="eliminarDoc(docum.id)"></i></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                </div>

                <pagination-controls id="personalP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center col-12"></pagination-controls>

            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>
 

<!-- Large modal -->

<!-- formulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nuevo colaborador</h3>
        <h3 *ngIf="edicion === true">Editar información</h3>
      </div><br>
      
      <div class="container">
      <form [formGroup]="formPersonal" (ngSubmit)="guardarNuevoPersonal()" id="regiration_form" enctype="multipart/form-data" target="_blank">
        <div class="container">
          <div class="tab-content" id="myTabContent">
            <!-- paso 1 -->
            <div *ngIf="paso1 === true" class="tab-pane fade show active" id="uno" role="tabpanel" aria-labelledby="home-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
              </div>
              <br>
                <h5><i class="fas fa-user card-sapp" data-toggle="modal"></i> &nbsp;&nbsp;Paso 1</h5><br>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="clave">Clave*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="clave" id="clave" placeholder="Clave" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="rol">Puesto*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="rol" id="rol" placeholder="Puesto" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="nombres">Nombre(s)*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="nombres" id="nombres" placeholder="Nombre(s)" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="apellidoPat">Apellido paterno*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="apellidoPat" id="apellidoPat" placeholder="Apellido paterno" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="apellidoMat">Apellido materno*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="apellidoMat" id="apellidoMat" placeholder="Apellido materno" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="genero">Género*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="genero" id="genero" placeholder="Género" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="fechaNacimiento">Fecha de nacimiento*</label>
                  <input type="date" class="form-control campo-sapp" formControlName="fechaNacimiento" id="fechaNacimiento" >
                </div>
              </div>
              <button (click)="stepper2()" class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>

            <!-- paso 2 -->
            <div *ngIf="paso2 === true" class="tab-pane fade show active" id="dos" role="tabpanel" aria-labelledby="profile-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
              </div><br>
              <h5><i class="fas fa-user card-sapp" data-toggle="modal"></i> &nbsp;&nbsp;Paso 2</h5><br>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nacionalidad">Nacionalidad*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="nacionalidad" id="nacionalidad" placeholder="Nacionalidad" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="curp">CURP*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="curp" id="curp" placeholder="CURP" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="rfc">RFC*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="rfc" id="rfc" placeholder="RFC" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="nss">NSS*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="nss" id="nss" placeholder="NSS" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="estadoCivil">Estado civil*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="estadoCivil" id="estadoCivil" placeholder="Estado civil" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nombrePadre">Nombre del padre*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="nombrePadre" id="nombrePadre" placeholder="Nombre del padre" autocomplete="off">
                </div>
                <div class="form-group col-md-6">
                  <label for="nombreMadre">Nombre de la madre*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="nombreMadre" id="nombreMadre" placeholder="Nombre de la madre" autocomplete="off">
                </div>
              </div>
              <button (click)="stepper1()" class="btn btn-sm btn-sapp" type="button">Anterior</button>&nbsp;<button (click)="stepper3()" class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>

            <!-- paso 3 -->
            <div *ngIf="paso3 === true" class="tab-pane fade show active" id="tres" role="tabpanel" aria-labelledby="contact-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
              </div>
              <br>
              <h5><i class="fas fa-user card-sapp" data-toggle="modal"></i> &nbsp;&nbsp;Paso 3</h5><br>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="domicilio">Domicilio*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="domicilio" id="domicilio" placeholder="Domicilio" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="cp">Código postal*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="cp" id="cp" placeholder="Código postal" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="colonia">Colonia*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="colonia" id="colonia" placeholder="Colonia" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="municipio">Delegación o Municipio*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="municipio" id="municipio" placeholder="Delegación o Municipio" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="ciudad">Ciudad*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="ciudad" id="ciudad" placeholder="Ciudad" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="entidad">Entidad*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="entidad" id="entidad" placeholder="Entidad" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="pais">País*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="pais" id="pais" placeholder="País" autocomplete="off">
                </div>
              </div>
              <button (click)="stepper2()" class="btn btn-sm btn-sapp" type="button">Anterior</button>&nbsp;<button (click)="stepper4()" class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>

            <!-- paso 4 -->
            <div *ngIf="paso4 === true" class="tab-pane fade show active" id="cuatro" role="tabpanel" aria-labelledby="contact-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
              </div>
              <br>
              <h5><i class="fas fa-user card-sapp" data-toggle="modal"></i> &nbsp;&nbsp;Paso 4</h5><br>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="telefono">Teléfono*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="telefono" id="telefono" placeholder="Teléfono" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="movil">Móvil*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="movil" id="movil" placeholder="Móvil" autocomplete="off">
                </div>
                <div class="form-group col-md-4">
                  <label for="correo">Correo*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="correo" id="correo" placeholder="Correo" autocomplete="off">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="socialNet">Social network*</label>
                  <input type="text" class="form-control campo-sapp" formControlName="socialNet" id="socialNet" placeholder="Social netiwork" autocomplete="off">
                </div>
              </div>
              <button (click)="stepper3()" class="btn btn-sm btn-sapp" type="button">Anterior</button>&nbsp;<button (click)="stepper5()" class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>
            <div *ngIf="paso5 === true" class="tab-pane fade show active" id="cinco" role="tabpanel" aria-labelledby="contact-tab">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
              <br>
              <div class="container">
                <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
                  Plantel registrado correctamente
                 </div>
                 <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
                 Cambios guardados correctamente
                 </div>
              </div>
              <!-- paso 5 -->
              <h5><i class="fas fa-user card-sapp" data-toggle="modal"></i>&nbsp;&nbsp; Paso 5</h5><br>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="departamento">Asignar departamento*</label>
                  <select class="form-control campo-sapp" formControlName="departamento" id="departamento">
                    <option value="">Selecciona un departamento</option>
                    <option *ngFor="let dep of listaDepartamentos | sortBy:'descripcion_corta'" value="{{dep.id}}">{{dep.descripcion_corta}}</option>
                  </select>  
                </div>
              </div>
              <button (click)="stepper4()" class="btn btn-sm btn-sapp" type="button">Anterior</button>&nbsp;
              <input type="submit" name="submit" *ngIf="edicion === false" class="submit btn btn-sapp btn-sm" value="Registrar" id="submit_data" />
              <button type="button" *ngIf="edicion === true" class="btn btn-sm btn-sapp" (click)="guardarCambios()">Guardar cambios</button>&nbsp;<span class="text-danger">{{validador}}</span><br><br>
            </div>

          </div>
        </div><br>
        
        
        <!-- <button type="submit" class="btn btn-sapp">Registrar</button><br><br> -->
      </form>
    </div>
    </div>
  </div>
</div>

<div class="table-responsive reporte-pdf" *ngIf="listaPersonal.length !== 0">
  <table class="table table-sm table-bordered bg-white table-hover" id="reportePdf">
      <thead class="text-center">
        <tr>
          <th scope="col">Matrícula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estatus</th>
          <th scope="col">Teléfonos</th>
          <th scope="col">Correo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colaborador of listaAlumnos | sortBy:'nombres' | filtroPersonal:filtroPersonal | paginate: { itemsPerPage: 10, currentPage: p, id: 'departamentoP' }; let i = index">
          <th class="text-center" scope="row">{{colaborador.clave}}</th>
          <td>{{colaborador.nombres + ' ' + colaborador.apellido_pat + ' ' + colaborador.apellido_mat}}</td>
          <td class="text-center">{{colaborador.rol }}</td>
          <td class="text-center">{{colaborador.telefono + ' / ' + colaborador.movil }}</td>
          <td class="text-center">{{colaborador.correo }}</td>
        </tr>
      </tbody>
    </table>
</div>

