 <!-- Content Row -->

 <div class="row">

  <!--Plazas disponibles -->

  <div class="col-xl-12 col-lg-12 col-md-12 mb-12 espacio" *ngIf="listaNoticias.length > 0">
    <br>
    <h5>Noticias</h5><br>
  </div>

  <div class="col-xl-12 col-lg-12 col-md-12 mb-12 espacio" *ngIf="listaNoticias.length > 0">

<section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide{{not.id}}"
        tabindex="0"
        class="carousel__slide" *ngFor="let not of listaNoticias">
        <img src="{{docPath + not.foto}}" alt="" width="100%" height="100%">
      <div class="carousel__snapper">
        <a href="#carousel__slide{{listaNoticias.length}}"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide{{not.id+1}}"
           class="carousel__next">Go to next slide</a>
           
      </div>
    </li>
  </ol>
</section>
  </div>
  

</div>

 <div class="row" *ngIf="idRol === '2' || idRol === '4'">

    <!--Plazas disponibles -->

    <div class="col-xl-12 col-lg-12 col-md-12 mb-12 espacio" *ngIf="listaPlazas.length > 0">
      <br>
      <h5>Plazas disponibles</h5><br>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-12 mb-12 espacio" *ngFor="let plaza of listaPlazas">
      <div class="card border-left-sapp shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-sapp text-uppercase mb-1">Plaza</div>
              <div class="mb-0 font-weight-bold text-gray-800 p-2">{{plaza.plaza}}</div>
              <div class="text-xs font-weight-bold text-sapp text-uppercase mb-1">Plantel</div>
              <div class="mb-0 font-weight-bold text-gray-800 p-2">{{plaza.cat_plantele.nombre_plantel}}</div>
              <div class="text-xs font-weight-bold text-sapp text-uppercase mb-1">Informes:</div>
              <div class="mb-0 font-weight-bold text-gray-800 p-2">{{plaza.cat_plantele.correo}}</div>
              <div class="mb-0 font-weight-bold text-gray-800 p-2">{{plaza.cat_plantele.telefono1 + ' y ' + plaza.cat_plantele.telefono2}}</div>
              
            </div>
            <!-- <div class="col-auto texto-sapp align-items-center">
              <i class="fas fa-suitcase fa-1x"></i>
            </div> -->
          </div>
        </div>
      </div>
    </div>

 </div>


 <div class="row" *ngIf="idRol === '2'">

    <div class="col-xl-12 col-md-12 mb-12">
      <br>
      <h5>Indicadores</h5><br>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-sapp shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-sapp text-uppercase mb-1">Planteles</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{listaPlanteles.length}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-school fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-sapp shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-sapp text-uppercase mb-1">Espacios educativos</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{listaAulas.length}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-sapp shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-sapp text-uppercase mb-1">Planes de estudio</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{listaPlanes.length}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-sapp shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-sapp text-uppercase mb-1">Asignaturas</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{listaAsignaturas.length}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-star fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-sapp shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-sapp text-uppercase mb-1">Colaboradores</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{listaPersonal.length}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>

  <!-- Content Row -->