  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Grupos - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaGrupos.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroGrupo" name="filtroGrupo" id="filtroGrupo" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar grupo" autocomplete="off">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio" *ngIf="rolAdm === 'Administrador'" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> Nuevo grupo</button>&nbsp;
                    <button *ngIf="listaGrupos.length !== 0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Descargar PDF</button>&nbsp;
                    <button *ngIf="listaGrupos.length !== 0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar Excel</button><br><br>
                </div>
                <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaGrupos.length === 0">
                  <div class="alert alert-secondary" role="alert">
                    Aún no hay grupos registrados
                  </div>
                </div>
                <div class="table-responsive" *ngIf="listaGrupos.length !== 0" >
                    <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Grupo</th>
                            <th scope="col">Ciclo escolar</th>
                            <th scope="col">Turno</th>
                            <th scope="col">Plantel</th>
                            <th scope="col">Grado</th>
                            <th scope="col">Profesor</th>
                            <th scope="col" colspan="3">Acciones</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr *ngFor="let item of listaGrupos | sortBy:'id' | filtroGrupos:filtroGrupo | paginate: { itemsPerPage: 10, currentPage: p, id: 'grupP' }; let i = index">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.grupo}}</td>
                            <td>{{item.cat_ciclo.ciclo}}</td>
                            <td>{{item.cat_turno.turno}}</td>
                            <td>{{item.cat_plantele.nombre_plantel}}</td>
                            <td>{{item.cat_periodos_escolare.periodo}}</td>
                            <td>{{item.tab_personal.nombres}} {{item.tab_personal.apellido_pat}} {{item.tab_personal.apellido_mat}} </td>
                            <td class="text-center">
                                <a href="" data-toggle="modal"  [attr.data-target]="'#alumnos' + item.id" (click)="getAlumnos(item.id)">
                                  <i class="fas fa-cog text-gray-300" title="Incribir aspirantes"></i>
                                </a>
                                <div id="alumnos{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-lg texto-sapp">
                                    <div class="modal-content">
                                      <div class="modal-body text-center">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>Inscribir alumno al grupo {{item.grupo}}</h5>
                                      </div>
                                      <div class="text-left container">
                                        <form [formGroup]="formAlumno" (ngSubmit)="agregarAlumno(item.id)" *ngIf="listaAlumnosNoAsignados.length > 0">
                                            <div class="form-row">
                                              <div class="form-group col-md-8">
                                                <label for="alumno">Alumno*</label>
                                                <select formControlName="alumno" class="form-control campo-sapp" id="alumno">
                                                    <option value="">Selecciona a un alumno</option>
                                                    <option *ngFor="let alumno of listaAlumnosNoAsignados | sortBy:'apellido_pat' " value="{{alumno.id}}">{{ alumno.apellido_pat + ' ' + alumno.apellido_mat + ' ' + alumno.nombres}}</option>
                                                </select>
                                              </div>
                                            </div>
                                            <button type="submit" class="btn btn-sapp" [disabled]="formAlumno.invalid">Asignar</button><br><br>
                                          </form>
                                          <div class="table-responsive">
                                            <div class="alert alert-secondary text-center" role="alert" *ngIf="listaAlumnosNoAsignados.length === 0">
                                              Por el momento no hay aspirantes disponibles
                                            </div>
                                            <table class="table table-sm table-bordered bg-white table-hover">
                                              <thead>
                                                <tr class="text-center">
                                                    <th colspan="4"><h4>Grupo: <span class="font-weight-bold">{{item.grupo}}</span></h4></th>
                                                </tr>
                                                <tr>
                                                  <td class="text-left font-weight-bold">Ciclo escolar:</td>
                                                  <td>{{item.cat_ciclo.ciclo}}</td>
                                                  <td class="text-left font-weight-bold">Plantel:</td>
                                                  <td>{{item.cat_plantele.nombre_plantel}}</td>
                                                </tr>
                                                <tr>
                                                  <td class="text-left font-weight-bold">Grado:</td>
                                                  <td>{{item.cat_periodos_escolare.periodo}}</td>
                                                  <td class="text-left font-weight-bold">Profesor:</td>
                                                  <td>{{item.tab_personal.nombres}} {{item.tab_personal.apellido_pat}} {{item.tab_personal.apellido_mat}}</td>
                                                </tr>
                                                <tr>
                                                  <td class="text-left font-weight-bold">Turno</td><td>{{item.cat_turno.turno}}</td>
                                                  <td class="text-left font-weight-bold">Máximo de alumnos:</td>
                                                  <td>{{item.maximo_alumnos}}</td>
                                                </tr>
                                                <tr>
                                                  <td colspan="4" *ngIf="listaAlumnos.length < item.maximo_alumnos" class="font-weight-bold text-center">{{item.maximo_alumnos - listaAlumnos.length}} lugar<span *ngIf="item.maximo_alumnos - listaAlumnos.length > 1">es</span> disponible<span *ngIf="item.maximo_alumnos - listaAlumnos.length > 1">s</span></td>
                                                  <td colspan="4" *ngIf="listaAlumnos.length === item.maximo_alumnos" class="text-success font-weight-bold text-center">Grupo completo</td>
                                                  <td colspan="4" *ngIf="listaAlumnos.length > item.maximo_alumnos" class="text-danger font-weight-bold text-center">Grupo excedido</td></tr>
                                              </thead>
                                          </table><br>
                                          <div class="alert alert-secondary text-center" role="alert" *ngIf="listaAlumnos.length === 0">
                                            Aún no hay alumnos asignados a este grupo
                                          </div>
                                          <div *ngIf="listaAlumnos.length > 0">
                                            <div class="espacio">
                                              <button class="btn btn-sm btn-sapp" (click)="imprimirLista(item.id)"><i class="fas fa-download text-gray-300"></i> Descargar lista</button>
                                            </div><br>
                                            <table class="table table-sm table-bordered bg-white table-hover">
                                              <tr class="text-center">
                                                <td colspan="3">Alumnos agregados</td>
                                              </tr>
                                            </table>
                                            <table class="table table-sm table-bordered bg-white table-hover">
                                              <thead>
                                                <tr class="text-center font-weight-bold">
                                                  <th>Matrícula</th>
                                                  <th>Nombre</th>
                                                  <th>Eliminar del grupo</th>
                                                </tr>
                                              </thead>
                                                <tr *ngFor="let al of listaAlumnos | sortBy:'apellido_pat'">
                                                    <td>{{al.clave}}</td>
                                                    <td><i class="fas fa-user text-gray-300"></i>  {{al.apellido_pat + ' ' + al.apellido_mat + ' ' + al.nombres}}</td>
                                                    <td class="text-center">
                                                        <a  (click)="eliminarAlumno(al.id, item.id)" class="card-sapp" title="Eliminar">
                                                        <i class="fas fa-trash text-gray-300" title="Eliminar pregunta"></i>
                                                      </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                  <td class="text-center font-weight-bold" colspan="3">Total de alumnos en el grupo: {{listaAlumnos.length}}</td>
                                                </tr>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            <td class="text-center"><a href="" data-toggle="modal" data-target="#formulario" (click)="updateGrupo(item.id)" title="Editar"><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#modal' + item.id">
                                <i class="fas fa-trash text-gray-300" title="Eliminar"></i>
                              </a>
                              <div id="modal{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>¿Deseas eliminar el registro?</h5>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-sapp" (click)="eliminarGrupo(item.id)" data-dismiss="modal" >Eliminar</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls id="grupP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
                </div>
            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nuevo grupo</h3>
        <h3 *ngIf="edicion === true">Editar grupo</h3>
      </div><br>
      <div class="container">
        <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
          Grupo registrado correctamente
         </div>
         <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
         Cambios guardados correctamente
         </div>
      </div>
      <div class="container"><br>
      <form [formGroup]="formGrupo" (ngSubmit)="guardarNuevoGrupo()">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="grupo">Grupo*</label>
            <input type="text" class="form-control campo-sapp" formControlName="grupo" id="grupo" placeholder="Grupo" autocomplete="off">
          </div>
          <div class="form-group col-md-3">
            <label for="maximoAlumnos">Máximo de alumnos*</label>
            <input type="number" class="form-control campo-sapp" formControlName="maximoAlumnos" id="maximoAlumnos" placeholder="Máximo de alumnos" autocomplete="off">
          </div>
          <div class="form-group col-md-3">
            <label for="">Ciclo*</label>
            <select formControlName="ciclo" class="form-control campo-sapp" id="ciclo">
                <option value="">Selecciona un ciclo</option>
                <option *ngFor="let ciclo of listaCiclos" value="{{ciclo.id}}">{{ciclo.ciclo}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="">Turno*</label>
            <select formControlName="turno" class="form-control campo-sapp" id="turno">
                <option value="">Selecciona un turno</option>
                <option *ngFor="let turno of listaTurnos" value="{{turno.id}}">{{turno.turno}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Plantel*</label>
                <select formControlName="plantel" class="form-control campo-sapp" id="plantel">
                    <option value="">Selecciona un plantel</option>
                    <option *ngFor="let plantel of listaPlanteles" value="{{plantel.id}}">{{plantel.nombre_plantel}}</option>
                </select>
              </div>
            <div class="form-group col-md-6">
              <label for="">Grado*</label>
              <select formControlName="grado" class="form-control campo-sapp" id="grado">
                  <option value="">Selecciona un grado</option>
                  <option *ngFor="let grado of listaGrados" value="{{grado.id}}">{{grado.periodo}}</option>
              </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Profesor*</label>
                <select formControlName="profesor" class="form-control campo-sapp" id="profesor">
                    <option value="">Asigna a un profesor</option>
                    <option *ngFor="let prof of listaProfesores" value="{{prof.id}}">{{prof.nombres + ' ' + prof.apellido_pat + ' ' + prof.apellido_mat}}</option>
                </select>
              </div>
        </div>
        <button *ngIf="edicion === false" type="submit" class="btn btn-sapp" [disabled]="formGrupo.invalid">Registrar</button><button type="button" *ngIf="edicion === true" class="btn btn-sapp" [disabled]="formGrupo.invalid" (click)="guardarCambios()">Guardar cambios</button><br><br>
      </form>
    </div>
    </div>
  </div>
</div>

<!-- html para reporte pdf -->

<div class="table-responsive reporte-pdf">
  <table class="table table-sm table-bordered bg-white table-hover"  id="reportePdf" #data>
      <thead class="text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Grupo</th>
            <th scope="col">Plantel</th>
            <th scope="col">Grado</th>
            <th scope="col">Profesor</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let item of listaGrupos | sortBy:'id' | filtroGrupos:filtroGrupo">
            <th scope="row">{{item.id}}</th>
            <td>{{item.grupo}}</td>
            <td>{{item.cat_plantele.nombre_plantel}}</td>
            <td>{{item.cat_periodos_escolare.periodo}}</td>
            <td>{{item.tab_personal.nombres}} {{item.tab_personal.apellido_pat}} {{item.tab_personal.apellido_mat}} </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-sm table-bordered bg-white table-hover" id="listaAlumnosPdf">
      <thead>
        <tr class="text-center font-weight-bold">
          <th>Matrícula</th>
          <th>Nombre</th>
        </tr>
      </thead>
        <tr *ngFor="let al of listaAlumnos | sortBy:'apellido_pat'">
            <td>{{al.clave}}</td>
            <td><i class="fas fa-user text-gray-300"></i>  {{al.apellido_pat + ' ' + al.apellido_mat + ' ' + al.nombres}}</td>
        </tr>
    </table>
</div>
