  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Clases - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaClases.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroClase" name="filtroClase" id="filtroClase" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar clase" autocomplete="off">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio" *ngIf="rolAdm === 'Administrador'" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> Nueva clase</button>&nbsp;
                    <button *ngIf="listaClases.length !== 0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Descargar PDF</button>&nbsp;
                    <button *ngIf="listaClases.length !== 0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar Excel</button><br><br>
                </div>
                <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaClases.length === 0">
                  <div class="alert alert-secondary" role="alert">
                    Aún no hay clases registradas
                  </div>
                </div>
                <div class="table-responsive" *ngIf="listaClases.length !== 0" >
                    <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Asignatura</th>
                            <th scope="col">Profesor</th>
                            <th scope="col" colspan="2">Acciones</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr *ngFor="let item of listaClases | sortBy:'id' | filtroClases:filtroClase | paginate: { itemsPerPage: 10, currentPage: p, id: 'clasP' }; let i = index">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.clave}}</td>
                            <td>{{item.cat_materia.asignatura}}</td>
                            <td>{{item.tab_personal.nombres + ' ' + item.tab_personal.apellido_pat + ' ' + item.tab_personal.apellido_mat}}</td>
                            <td class="text-center"><a href="" data-toggle="modal" data-target="#formulario" (click)="updateClase(item.id)"><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#modal' + item.id">
                                <i class="fas fa-trash text-gray-300"></i>
                              </a>
                              <div id="modal{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>¿Deseas eliminar el registro?</h5>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-sapp" (click)="eliminarClase(item.id)" data-dismiss="modal" >Eliminar</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls id="clasP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
                </div>
            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nueva clase</h3>
        <h3 *ngIf="edicion === true">Editar clase</h3>
      </div><br>
      <div class="container">
        <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
          Clase registrada correctamente
         </div>
         <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
         Cambios guardados correctamente
         </div>
      </div>
      <div class="container"><br>
      <form [formGroup]="formClase" (ngSubmit)="guardarNuevaClase()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="clave">Clave*</label>
            <input type="text" class="form-control campo-sapp" formControlName="clave" id="clave" placeholder="Clave" autocomplete="off">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Asignatura*</label>
                <select formControlName="materia" class="form-control campo-sapp" id="materia">
                    <option value="">Selecciona una asignatura</option>
                    <option *ngFor="let materia of listaMaterias" value="{{materia.id}}">{{materia.asignatura}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="profesor">Profesor*</label>
                <select formControlName="profesor" class="form-control campo-sapp" id="profesor">
                    <option value="">Asigna un profesor</option>
                    <option *ngFor="let profesor of listaProfesores" value="{{profesor.id}}">{{profesor.nombres + ' ' + profesor.apellido_pat + ' ' + profesor.apellido_mat}}</option>
                </select>
            </div>
        </div>
        <button *ngIf="edicion === false" type="submit" class="btn btn-sapp" [disabled]="formClase.invalid">Registrar</button><button type="button" *ngIf="edicion === true" class="btn btn-sapp" [disabled]="formClase.invalid" (click)="guardarCambios()">Guardar cambios</button><br><br>
      </form>
    </div>
    </div>
  </div>
</div>

<!-- html para reporte pdf -->

<div class="table-responsive reporte-pdf">
  <table class="table table-sm table-bordered bg-white table-hover"  id="reportePdf" #data>
      <thead class="text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Clave</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Profesor</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let item of listaClases | sortBy:'id' | filtroClases:filtroClase">
            <th scope="row">{{item.id}}</th>
            <td>{{item.clave}}</td>
            <td>{{item.cat_materia.asignatura}}</td>
            <td>{{item.tab_personal.nombres + ' ' + item.tab_personal.apellido_pat + ' ' + item.tab_personal.apellido_mat}}</td>
        </tr>
      </tbody>
    </table>
</div>
