  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Noticias - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaNoticias.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroNoticia" name="filtroNoticia" id="filtroNoticia" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar por título">
                </div>
            </div>

            <!-- boton de nuevo registro -->

            <div class="row" *ngIf="rolAdm === 'Administrador'">
              <div class="col-xl-8 col-md-6 mb-4">
                  <button class="btn btn-sapp espacio" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> &nbsp;&nbsp;Nueva noticia</button>&nbsp;
                  <button *ngIf="listaNoticias.length !==0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Desacargar pdf</button>&nbsp;
                  <button *ngIf="listaNoticias.length !==0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar excel</button><br><br>
              </div>
            </div>

            <!-- alerta de no registros -->

            <div class="row">
              <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaNoticias.length === 0">
                <div class="alert alert-secondary" role="alert">
                  Aún no hay noticias registradas
                </div>
              </div>

              <!-- Tarjetas de colaboradores -->

                <div class="col-xl-3 col-md-6 mb-4" *ngFor="let item of listaNoticias | sortBy:'fecha_publicacion' | filtroNoticias:filtroNoticia | paginate: { itemsPerPage: 8, currentPage: p, id: 'noticiaP' }; let i = index">     
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                      <div class="card-header text-right principal texto-claro">
                        <i title="Ver información" class="fas fa-eye card-sapp" data-toggle="modal" [attr.data-target]="'#modal' + item.id"></i>&nbsp;&nbsp;&nbsp;
                        <i title="Eliminar noticia" class="fas fa-trash card-sapp" data-toggle="modal"  [attr.data-target]="'#del' + item.id"></i>
                        <!-- modal de alerta de eliminación -->
                        <div id="del{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg texto-sapp">
                            <div class="modal-content">
                              <div class="modal-body text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h5>¿Deseas eliminar el registro?</h5>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-sapp" (click)="eliminarNoticia(item.id)">Eliminar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body text-center">
                        <img    *ngIf="item.foto === null"
                                src="{{docPath + 'no-image-1.jpg'}}" 
                                alt="" 
                                data-toggle="modal" 
                                [attr.data-target]="'#formFoto' + item.id" 
                                class="card-sapp" 
                                title="{{item.title}}" 
                                width="100%">
                        <img    *ngIf="item.foto !== null"
                                src="{{docPath + item.foto}}" 
                                alt="" data-toggle="modal" 
                                [attr.data-target]="'#formFoto' + item.id"
                                class="card-sapp" 
                                title="{{item.title}}"
                                width="100%">

                      <br>
                        
                        <h6 class="card-title font-weight-bold">{{ item.titulo }}</h6>
                        <span>{{'Vigencia:' + item.fecha_vigencia}}</span>
                      </div>
                    </div>
                    <!-- modal de detalles -->
                    <div class="modal fade bd-example-modal-lg" id="modal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                              <div class="card text-center">
                                  <div class="card-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    Noticia
                                  </div>
                                  <div class="card-body">
                                    <div class="foto" *ngIf="item.foto === null">
                                      <img class="card-img-top ancho-img" src="{{docPath + 'no-image-1.jpg'}}" alt="Card image cap"><br><br>
                                    </div>
                                    <div class="foto" *ngIf="item.foto !== null">
                                      <img class="card-img-top ancho-img-2" src="{{docPath + item.foto}}" alt="Card image cap"><br><br>
                                    </div>
                                    <h3 class="card-title font-weight-bold">{{item.titulo}}</h3>
                                    <h6 class="card-title font-weight-bold">{{'Fecha de publicación: ' +item.fecha_publicacion}}</h6>
                                    <h6 class="card-title font-weight-bold">{{'Fecha de vigencia: ' +item.fecha_vigencia}}</h6>
                                    <p class="card-text"></p><br>
                                    <br>
                                    <div class="table-responsive">
                                      <table class="table table-sm table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">Descripción</th>
                                          </tr>
                                        </thead>
                                        <tbody class=" text-left">
                                          <tr><td>{{item.descripcion}}</td></tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <br>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                </div>

                <pagination-controls id="noticiaP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center col-12"></pagination-controls>

            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>
 

<!-- Large modal -->

<!-- formulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nueva noticia</h3>
      </div><br>
      
      <div class="container" *ngIf="listaPlanteles.length > 0"><br>
        <form [formGroup]="formNoticia" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="clave">Título*</label>
              <input type="text" class="form-control campo-sapp" formControlName="titulo" id="titulo" placeholder="Título" autocomplete="off">
            </div>
            <div class="form-group col-md-3">
              <label for="">Fecha de publicación*</label>
              <input type="date" formControlName="fechaPublicacion" class="form-control campo-sapp" id="fechaPublicacion" autocomplete="off">
            </div>
            <div class="form-group col-md-3">
                <label for="">Fecha de vigencia*</label>
                <input type="date" formControlName="fechaVigencia" class="form-control campo-sapp" id="fechaVigencia" autocomplete="off">
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Plantel</label>
                <select name="plantel" id="plantel" formControlName="plantel" class="form-control campo-sapp">
                  <option value="" class="text-danger">Selecciona un plantel</option>
                  <option *ngFor="let plantel of listaPlanteles" value="{{plantel.id}}">{{plantel.nombre_plantel}}</option>
                </select>
              </div>
            <div class="form-group col-md-6">
              <label for="">Seleccionar imagen</label>
              <input type="file" formControlName="foto" class="form-control campo-sapp" id="foto" autocomplete="off" (change)="cargaImagen($event)">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="">Descripción</label>
              <textarea name="descripcion" formControlName="descripcion" class="form-control" id="" cols="30" rows="4" placeholder="Descripcion" autocomplete="off"></textarea>
            </div>
          </div>
          <button *ngIf="edicion === false" type="button" (click)="subirDoc()" class="btn btn-sapp" [disabled]="formNoticia.invalid">Registrar</button><br><br>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive reporte-pdf" *ngIf="listaNoticias.length !== 0">
  <table class="table table-sm table-bordered bg-white table-hover" id="reportePdf">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Fecha de publicación</th>
          <th scope="col">Fecha de vigencia</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let not of listaNoticias | sortBy:'fecha_publicacion' | filtroNoticias:filtroNoticia ">
          <th class="text-center" scope="row">{{not.id}}</th>
          <td>{{not.titulo}}</td>
          <td class="text-center">{{not.fecha_publicacion }}</td>
          <td class="text-center">{{not.fecha_vigencia }}</td>
          <td class="text-center">{{not.descripcion }}</td>
        </tr>
      </tbody>
    </table>
</div>

