  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">{{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row">
                <div class="container"><br>
                    <h3>Exámenes asignados - Licenciatura en mercadotecnia</h3>
                    <hr size="8px"/>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                            <thead class="text-center">
                              <tr>
                                <th scope="col">Clave</th>
                                <th scope="col">Asignatura</th>
                                <th scope="col">% min. aprobatorio</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Calificación</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody class="text-center">
                              <tr *ngFor="let exa of listaExamenes | sortBy:'clave'">
                                <th scope="row">{{exa.clave}}</th>
                                <td>{{exa.cat_materia.asignatura}}</td>
                                <td>{{exa.porcentaje_minimo}} %</td>
                                <td *ngIf="exa.estatus === 1">Sin concluir</td>
                                <td *ngIf="exa.estatus === 2">Concluido</td>
                                <td></td>
                                <td class="text-center">
                                  <a href="" title="Comenzar" data-toggle="modal" [attr.data-target]="'#modal' + exa.id"><i class="fas fa-paper-plane text-gray-300" (click)="iniciarExamen(exa.id)"></i>
                                  </a>
                                  <div id="modal{{exa.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg texto-sapp">
                                      <div class="modal-content">
                                        <div class="card-header text-center">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                          <h3>Examen de {{exa.cat_materia.asignatura}}</h3>
                                        </div><br>
                                        
                                        <div class="container">
                                        <form   id="regiration_form" enctype="multipart/form-data" target="_blank">
                                          <div class="container">
                                            <div class="progress">
                                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                                            </div>
                                            <div class="tab-content" id="myTabContent">
                                              <!-- paso 1 -->
                                              <div class="tab-pane fade show active text-left" id="uno" role="tabpanel" aria-labelledby="home-tab" *ngFor="let preg of preguntas">
                                                <br>
                                                <hr>
                                                <h5> &nbsp;&nbsp;{{preg.pregunta}}</h5><br>
                                                <div class="form-row">
                                                  <div class="form-group col-md-6">
                                                    <ul id="op">
                                                      <li>
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                          <label class="form-check-label" for="flexRadioDefault1">
                                                            {{preg.respuesta_correcta}}
                                                          </label>
                                                        </div>
                                                      </li>
                                                      <li>
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                          <label class="form-check-label" for="flexRadioDefault1">
                                                            {{preg.respuesta_incorrecta1}}
                                                          </label>
                                                        </div>
                                                      </li>
                                                      <li *ngIf="preg.respuesta_incorrecta2 !== null">
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                          <label class="form-check-label" for="flexRadioDefault1">
                                                            {{preg.respuesta_incorrecta2}}
                                                          </label>
                                                        </div>
                                                      </li>
                                                      <li *ngIf="preg.respuesta_incorrecta3 !== null">
                                                        <div class="form-check">
                                                          <input class="form-check-input radio-sapp" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                          <label class="form-check-label" for="flexRadioDefault1">
                                                            {{preg.respuesta_incorrecta3}}
                                                          </label>
                                                        </div>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div><br>
                                          <button class="btn btn-sm btn-sapp" type="button">Siguiente</button>&nbsp;<span class="text-danger"></span><br><br>
                                          
                                          <!-- <button type="submit" class="btn btn-sapp">Registrar</button><br><br> -->
                                        </form>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table><br>
                    </div>
                </div>
            </div>
            

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>
<!-- Large modal -->

<!-- formnulario -->
<!-- html para reporte pdf -->

