  <!-- Page Wrapper -->

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#527780" type = "" [fullScreen] = "true">
    <div class="text-center texto-sapp">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
    <p style="color: white" > Cargando... </p>
  </div>
  </ngx-spinner>

  <div id="wrapper">

    <!-- componente menu -->

    <app-menu-dashboard></app-menu-dashboard>

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->

      <div id="content">

       <app-barra-dashboard></app-barra-dashboard>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-500 texto-sapp">Examenes - {{ institucion }}</h1>
          </div>

         <!-- //// contenido de plantillas //// -->

            <div class="row" *ngIf="listaExamenes.length > 9">
                <div class="col-xl-8 col-md-6 mb-4">
                    <input [(ngModel)]="filtroExamen" name="filtroExamen" id="filtroExamen" class="form-control form-control-sm campo-sapp" type="text" placeholder="Buscar por asignatura" autocomplete="off">
                </div>
            </div>

            <div class="row">

                <div class="col-xl-12 col-md-12 mb-12">
                    <button class="btn btn-sapp espacio" *ngIf="rolAdm === 'Administrador'" data-toggle="modal" data-target="#formulario" (click)="nuevo()"><i class="fas fa-plus-square text-gray-300"></i> Nuevo examen</button>&nbsp;
                    <button *ngIf="listaExamenes.length !== 0" type="button" class="btn btn-sapp espacio" (click)="descargarPdf()"><i class="fas fa-print text-gray-300"></i> Descargar PDF</button>&nbsp;
                    <button *ngIf="listaExamenes.length !== 0" type="button" class="btn btn-sapp espacio" (click)="exportaExcel()"><i class="fas fa-download text-gray-300"></i> Descargar Excel</button><br><br>
                </div>
                <div class="col-xl-12 col-md-12 mb-12" *ngIf="listaExamenes.length === 0">
                  <div class="alert alert-secondary" role="alert">
                    Aún no hay exámenes registrados
                  </div>
                </div>
                <div class="table-responsive" *ngIf="listaExamenes.length !== 0" >
                    <table class="table table-sm table-bordered bg-white table-hover" id="my-table" #data>
                        <thead class="text-center">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Clave</th>
                            <th scope="col">Asignatura</th>
                            <th scope="col">% min. aprobatorio</th>
                            <th scope="col" colspan="5">Acciones</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr *ngFor="let item of listaExamenes | sortBy:'id' | filtroExamenes:filtroExamen | paginate: { itemsPerPage: 10, currentPage: p, id: 'examP' }; let i = index">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.clave}}</td>
                            <td>{{item.cat_materia.asignatura}}</td>
                            <td>{{item.porcentaje_minimo}}</td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#asigna' + item.id" (click)="asignacion()">
                                <i class="fas fa-share text-gray-300" title="Asignar examen"></i>
                              </a>
                              <div id="asigna{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>Asignar examen de {{item.cat_materia.asignatura}}</h5>
                                      
                                    </div>
                                    <div class="text-left container">
                                      <form [formGroup]="formAsigna" (ngSubmit)="asignarExamen(item.id)">
                                        <div class="form-row">
                                          <div class="form-group col-md-6">
                                            <label for="tipo">Grupo*</label>
                                            <select class="form-control campo-sapp" formControlName="grupo" id="grupo">
                                              <option value="">Selecciona un grupo</option>
                                              <option *ngFor="let grupo of listaGrupos" value="{{grupo.id}}">{{grupo.grupo}}</option>
                                            </select>
                                          </div>
                                        </div>
                                          <button type="submit" class="btn btn-sapp" [disabled]="formAsigna.invalid">Asignar</button><br><br>
                                        </form>
                                    </div>
                                    
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                            <td class="text-center">
                                <a href="" data-toggle="modal"  [attr.data-target]="'#preguntas' + item.id" (click)="getPreguntas(item.id)">
                                  <i class="fas fa-plus-square text-gray-300" title="Agregar pregunta"></i>
                                </a>
                                <div id="preguntas{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-lg texto-sapp">
                                    <div class="modal-content">
                                      <div class="modal-body text-center">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h5>Agregar pregunta a examen de {{item.cat_materia.asignatura}}</h5>
                                        
                                      </div>
                                      <div class="text-left container">
                                        <form [formGroup]="formPregunta" (ngSubmit)="guardarNuevaPregunta(item.id)">
                                          <div class="form-row">
                                            <div class="form-group col-md-8">
                                              <label for="tipo">Tipo*</label>
                                              <select class="form-control campo-sapp" formControlName="tipo" id="tipo" (change)="getTipo($event.target.value)">
                                                <option value="">Selecciona un tipo de pregunta</option>
                                                <option *ngFor="let tipo of listaTiposPreguntas" value="{{tipo.id}}">{{tipo.tipo}}</option>
                                              </select>
                                            </div>
                                          </div>
                                            <div class="form-row">
                                              <div class="form-group col-md-8">
                                                <label for="pregunta">Pregunta*</label>
                                                <input type="text" class="form-control campo-sapp" formControlName="pregunta" id="pregunta" placeholder="Pregunta" autocomplete="off">
                                              </div>
                                              <div class="form-group col-md-4">
                                                <label for="tiempo">Tiempo de solución*</label>
                                                <input type="text" class="form-control campo-sapp" formControlName="tiempo" id="timepo" placeholder="Tiempo" autocomplete="off">
                                              </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                  <label for="respuestaCorrecta" class="text-successfull font-weight-bold">Respuesta correcta*</label>
                                                  <input type="text" class="form-control campo-sapp" formControlName="respuestaCorrecta" id="respuestaCorrecta" placeholder="Respuesta correcta" autocomplete="off">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="respuestaIncorrecta1" class="text-secondary">Respuesta incorrecta 1*</label>
                                                  <input type="text" class="form-control campo-sapp" formControlName="respuestaIncorrecta1" id="respuestaIncorrecta1" placeholder="Respuesta incorrecta 1" autocomplete="off">
                                                </div>
                                              </div>
                                              <div class="form-row" *ngIf="tipoPregunta === 'om'">
                                                <div class="form-group col-md-6">
                                                  <label for="respuestaIncorrecta2" class="text-secondary">Respuesta incorrecta 2*</label>
                                                  <input type="text" class="form-control campo-sapp" formControlName="respuestaIncorrecta2" id="respuestaIncorrecta2" placeholder="Respuesta incorrecta 2" autocomplete="off">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="respuestaIncorrecta3" class="text-secondary">Respuesta incorrecta 3*</label>
                                                  <input type="text" class="form-control campo-sapp" formControlName="respuestaIncorrecta3" id="respuestaIncorrecta3" placeholder="Respuesta incorrecta 3" autocomplete="off">
                                                </div>
                                              </div>
                                            <button type="submit" class="btn btn-sapp" [disabled]="formPregunta.invalid">Registrar</button><br><br>
                                          </form>
                                          <div class="table-responsive">
                                            <table class="table">
                                                <tr class="text-center">
                                                    <td colspan="3">Preguntas agregadas</td>
                                                </tr>
                                                <tr *ngFor="let pr of listaPreguntas">
                                                    <td>{{pr.pregunta}}</td>
                                                    <td>Tiempo de solución ({{pr.tiempo}})</td>
                                                    <td class="text-center">
                                                        <a  (click)="eliminarPregunta(pr.id, item.id)">
                                                        <i class="fas fa-trash text-gray-300" title="Eliminar pregunta"></i>
                                                      </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                      </div>
                                      
                                    </div>
                                    
                                  </div>
                                </div>
                              </td>
                            <td class="text-center"><a href=""  data-toggle="modal"  [attr.data-target]="'#ver' + item.id" (click)="getPreguntas(item.id)" title="Ver examen"><i class="fas fa-eye text-gray-300"></i></a>
                                <div id="ver{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg texto-sapp">
                                      <div class="modal-content">
                                        <div class="modal-body text-center">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><h5>Cerrar</h5> </span>
                                          </button><br>
                                          <h5 *ngIf="listaPreguntas.length > 0" class="font-weight-bold">Examen de {{item.cat_materia.asignatura}} ({{listaPreguntas.length + ' preguntas'}})</h5><br>
                                          <div class="container">
                                            <div class="text-left" *ngFor="let preg of listaPreguntas">
                                                <p class="font-weight-bold"> {{preg.pregunta}}
                                                </p>
                                                <ul>
                                                    <li class="font-weight-bold">Respuesta correcta: <span>{{preg.respuesta_correcta}}</span></li>
                                                    <li>Respuesta incorrecta: <span>{{preg.respuesta_incorrecta1}}</span></li>
                                                    <li *ngIf="preg.respuesta_incorrecta2 !==  null">Respuesta incorrecta: <span>{{preg.respuesta_incorrecta2}}</span></li>
                                                    <li *ngIf="preg.respuesta_incorrecta3 !==  null">Respuesta incorrecta: <span>{{preg.respuesta_incorrecta3}}</span></li>
                                                </ul>
                                            </div>
                                            <div *ngIf="listaPreguntas.length === 0">
                                                <span class="text-secondary">Aún no has agregado preguntas a este examen</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer" *ngIf="listaPreguntas.length > 0">
                                          <button class="btn btn-sapp" (click)="imprimirExamen(item.cat_materia.asignatura, item.id)" data-dismiss="modal" >Imprimir</button>
                                        </div>
                                      </div>
                                      
                                    </div>
                                  </div>
                            </td>
                            <td class="text-center"><a href="" data-toggle="modal" data-target="#formulario" (click)="updateExamen(item.id)" title="Editar"><i class="fas fa-edit text-gray-300"></i></a></td>
                            <td class="text-center">
                              <a href="" data-toggle="modal"  [attr.data-target]="'#modal' + item.id">
                                <i class="fas fa-trash text-gray-300" title="Eliminar"></i>
                              </a>
                              <div id="modal{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg texto-sapp">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                      <h5>¿Deseas eliminar el registro?</h5>
                                      
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-sapp" (click)="eliminarExamen(item.id)" data-dismiss="modal" >Eliminar</button>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls id="examP" autoHide="true" (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination text-center align-items-center justify-content-center"></pagination-controls>
                </div>
            </div>

            <!-- /////  fin de contenido de plantilla ////-->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ecomsa 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Presiona salir para cerrar sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-sapp" (click)="logOut()" data-dismiss="modal" >Salir</button>
        </div>
      </div>
    </div>
  </div>

<!-- Large modal -->

<!-- formnulario -->

<div id="formulario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg texto-sapp">
    <div class="modal-content">
      <div class="card-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 *ngIf="edicion === false">Nuevo examen</h3>
        <h3 *ngIf="edicion === true">Editar examen</h3>
      </div><br>
      <div class="container">
        <div *ngIf="confirmaGuardado === true" class="alert alert-success text-center" role="alert">
          Examen registrado correctamente
         </div>
         <div *ngIf="confirmaEdicion === true" class="alert alert-success text-center" role="alert">
         Cambios guardados correctamente
         </div>
      </div>
      <div class="container"><br>
      <form [formGroup]="formExamen" (ngSubmit)="guardarNuevoExamen()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="clave">Clave*</label>
            <input type="text" class="form-control campo-sapp" formControlName="clave" id="clave" placeholder="Clave" autocomplete="off">
          </div>
          <div class="form-group col-md-8">
            <label for="">Asignatura*</label>
            <select formControlName="materia" class="form-control campo-sapp" id="materia">
                <option value="">Selecciona una asignatura</option>
                <option *ngFor="let materia of listaMaterias" value="{{materia.id}}">{{materia.asignatura}}</option>
            </select>
          </div>
        </div>
        <button *ngIf="edicion === false" type="submit" class="btn btn-sapp" [disabled]="formExamen.invalid">Registrar</button><button type="button" *ngIf="edicion === true" class="btn btn-sapp" [disabled]="formExamen.invalid" (click)="guardarCambios()">Guardar cambios</button><br><br>
      </form>
    </div>
    </div>
  </div>
</div>

<!-- html para reporte pdf -->

<div class="table-responsive reporte-pdf">
  <table class="table table-sm table-bordered bg-white table-hover"  id="reportePdf" #data>
      <thead class="text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Clave</th>
            <th scope="col">Asignatura</th>
            <th scope="col">% min. aprobatorio</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let item of listaExamenes | sortBy:'id' | filtroExamenes:filtroExamen">
            <th scope="row">{{item.id}}</th>
            <td>{{item.clave}}</td>
            <td>{{item.cat_materia.asignatura}}</td>
            <td>{{item.porcentaje_minimo}}</td>
        </tr>
      </tbody>
    </table>
</div>


